<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/auto.css" />
    <link rel="stylesheet" href="css/manual.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/font.css">
    <script src="/js/fontawesome.js"  crossorigin="anonymous"></script>
    <title>Lưu Foam</title>
  </head>
  <body>
    <script src="js/login.js"></script>
    <%- include('header.ejs'); -%>
    <div class="setting_container">
      <div class="setting_container-title">
        <h2>Chế Độ Tự động</h2>
      </div>
      <div class="auto_body">
        <div class="setting_item" id="dieuhoa1">
          <h2 class="setting_item-title">Điều Hòa 1</h2>
          <div class="setting_content-item">
            <h2>Nhiệt Độ (&deg;C) </h2>
            <div class="setting_input">
              <label for="tem_dh1">Cài Đặt</label><input id="tem_dh1" class="tem" type="number" min="16" max="31" value="16" />
            </div>
            <div class="setting_input-btn"></div>
          </div>
          <div class="setting_content-item">
            <h2>Góc Mở (mode)</h2>
            <div class="setting_input">
              <label for="deg_dh1">Cài Đặt</label><select name="" id="deg_dh1">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </div>
          </div>
          <div class="setting_content-item">
            <h2>Tốc độ Quạt (mode)</h2>
            <div class="setting_input">
              <label for="">Cài Đặt</label><select name="" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="10">10</option>
              </select>
            </div>
          </div>
          <div class="setting_content">
            <div class="setting_btn">
              <div class="btn_auto">Áp Dụng</div>
            </div>
          </div>
        </div>
        <div class="setting_item" id="dieuhoa2">
          <h2 class="setting_item-title">Điều Hòa 2</h2>
          <div class="setting_content-item">
            <h2>Nhiệt Độ (&deg;C) </h2>
            <div class="setting_input">
              <label for="tem_dh2">Cài Đặt</label><input id="tem_dh2" class="tem" type="number" min="16" max="31" value="16" />
            </div>
          </div>
          <div class="setting_content-item">
            <h2>Góc Mở (mode)</h2>
            <div class="setting_input">
              <label for="deg_dh2">Cài Đặt</label><select name="" id="deg_dh2">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </div>
          </div>
          <div class="setting_content-item">
            <h2>Tốc độ Quạt (mode)</h2>
            <div class="setting_input">
              <label for="">Cài Đặt</label><select name="" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="10">10</option>
              </select>
            </div>
          </div>
          <div class="setting_content">
            <div class="setting_btn">
              <div class="btn_auto">Áp Dụng</div>
            </div>
          </div>
        </div>
        <div class="setting_item" id="dieuhoa3">
          <h2 class="setting_item-title">Điều Hòa 3</h2>
         
          <div class="setting_content-item">
            <h2>Nhiệt Độ (&deg;C) </h2>
            <div class="setting_input">
              <label for="tem_dh3">Cài Đặt</label><input id="tem_dh3" class="tem" type="number" min="16" max="31" value="16"/>
            </div>
          </div>
          <div class="setting_content-item">
            <h2>Góc Mở (mode)</h2>
            <div class="setting_input">
              <label for="deg_dh3">Cài Đặt</label><select name="" id="deg_dh3">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </div>
          </div>
          <div class="setting_content-item">
            <h2>Tốc độ Quạt (mode)</h2>
            <div class="setting_input">
              <label for="">Cài Đặt</label><select name="" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="10">10</option>
              </select>
            </div>
          </div>
          <div class="setting_content">
            <div class="setting_btn">
              <div class="btn_auto">Áp Dụng</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('btn_scroll.ejs'); -%>
  </body>
  <script>
    $ = document.querySelector.bind(document);
    $$ = document.querySelectorAll.bind(document);
    const listSubmit = $$(".btn_auto");
    const valueTem = $$(".tem")
    listSubmit.forEach((e, index) => {
      e.onclick = function () {
        if(valueTem[index].value < 16 || valueTem[index].value > 31){

          alert(`nhiệt độ từ khoảng 16 tới 31`)
        }
        else{
          alert(`${valueTem[index].value}`)
        }
      };
    });
  </script>
</html>
