<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/auto.css" />
    <link rel="stylesheet" href="css/manual.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/font.css">

    <script src="socket.io/socket.io.js"></script>
    <script src="/js/FC1_Common.js"></script>
    <script src="/js/FC3_set_auto.js"></script>

    <script src="/js/fontawesome.js"  crossorigin="anonymous"></script>
    <title>Lưu Foam</title>
  </head>
  <body>
    <script src="js/login.js"></script>
    <%- include('header.ejs'); -%>

    <div class="operate_container">
      <div class="operate_container-title">
        <h2>Chế độ tự động</h2>
      </div>
      <div class="block_start_stop">
        <div class="start_stop-btn-start">
          <button class="btn_on" id="btn_on_tn1" onclick="socket.emit('cmd_start_auto', true);">START</button>
          <img id="Trang_thai_auto" class="den_cd" /><script>fn_SymbolStatus("Trang_thai_auto", "Den_xanh", "Den_auto");</script>
        </div>
        <div class="setting_input">
          <label for="" class="lable_tem-input">NHIỆT ĐỘ THẤP</label>
          <input id="nhiet_do_thap" isabled="disabled" type="number" />
          <script>fn_Auto_IOField_IO("Cai_nhiet_do_thap", "nhiet_do_thap", 0);</script>
          <label for="" class="lable_tem-input">NHIỆT ĐỘ CAO</label>
          <input id="nhiet_do_cao" isabled="disabled" type="number" />
          <script>fn_Auto_IOField_IO("Cai_nhiet_do_cao", "nhiet_do_cao", 0);</script>
          <div class="start_stop-btn-save">
            <button class="btt_sua_luu" id="btt_Auto_Save"onclick="fn_Auto_SaveBtt()">LƯU</button>
            <button class="btt_sua_luu" id="btt_Auto_Edit"onclick="fn_Auto_EditBtt()">SỬA</button>
          </div>
        </div>
        
      </div>

      <div class="operate_row">
        <div class="setting_item">
          <h2 id="dieuhoa1" class="setting_item-title">Điều Hòa 1</h2>
          <div class="setting_content-item">
            <h2>ON OFF</h2>
            <div class="setting_input">
              <label for="">Cài đặt</label>
              <select id="on_off_aut_2" disabled="disabled" type="text">
                <option value="0">0</option>
                <option value="1">1</option>
              </select>
              <script>fn_Auto_IOField_IO("On_off_auto_2", "on_off_aut_2", 0);</script>
            </div>
          </div>
          <div class="setting_content-item">
            <h2>Chế độ (mod)</h2>
            <div class="setting_input">
              <label for="">Cài đặt</label>
              <select id="mode_aut_2" disabled="disabled" type="text">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
              <script>fn_Auto_IOField_IO("Mode_auto_2", "mode_aut_2", 0);</script>
            </div>
          </div>
          <div class="setting_content-item">
            <h2>Tốc độ Quạt (mod)</h2>
            <div class="setting_input">
              <label for="">Cài đặt</label>
              <select id="speed_auto_2" disabled="disabled" type="text">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              <script>fn_Auto_IOField_IO("Fan_speed_auto_2", "speed_auto_2", 0);</script>
            </div>
          </div>
          <div class="setting_content-item">
            <h2>Góc mở (mod)</h2>
            <div class="setting_input">
              <label for="">Cài đặt</label>
              <select id="position_auto_2" disabled="disabled" type="text">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="10">10</option>
              </select>
              <script>
                fn_Auto_IOField_IO("Van_position_auto_2", "position_auto_2", 0);
              </script>
            </div>
          </div>
          <div class="setting_content-item">
            <h2>Nhiệt độ (&deg;C)</h2>
            <div class="setting_input">
              <label for="">Cài đặt</label>
              <input id="temp_auto_2" disabled="disabled" type="number" />
              <script>fn_Auto_IOField_IO("Nhap_temp_auto_2", "temp_auto_2", 0);</script>
            </div>
          </div>
        </div>


        <div class="setting_item">
          <h2 id="dieuhoa2" class="setting_item-title">Điều Hòa 2</h2>
          <div class="setting_content-item">
            <h2>ON OFF</h2>
            <div class="setting_input">
              <label for="">Cài đặt</label>
              <select id="on_off_aut_3" disabled="disabled" type="text">
                <option value="0">0</option>
                <option value="1">1</option>
              </select>
              <script>fn_Auto_IOField_IO("On_off_auto_3", "on_off_aut_3", 0);</script>
            </div>
          </div>
          <div class="setting_content-item">
            <h2>Chế độ (mod)</h2>
            <div class="setting_input">
              <label for="">Cài đặt</label>
              <select id="mode_aut_3" disabled="disabled" type="text">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
              <script>fn_Auto_IOField_IO("Mode_auto_3", "mode_aut_3", 0);</script>
            </div>
          </div>
          <div class="setting_content-item">
            <h2>Tốc độ Quạt (mod)</h2>
            <div class="setting_input">
              <label for="">Cài đặt</label>
              <select id="speed_auto_3" disabled="disabled" type="text">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              <script>fn_Auto_IOField_IO("Fan_speed_auto_3", "speed_auto_3", 0);</script>
            </div>
          </div>
          <div class="setting_content-item">
            <h2>Góc mở (mod)</h2>
            <div class="setting_input">
              <label for="">Cài đặt</label>
              <select id="position_auto_3" disabled="disabled" type="text">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="10">10</option>
              </select>
              <script>fn_Auto_IOField_IO("Van_position_auto_3", "position_auto_3", 0);</script>
            </div>
          </div>
          <div class="setting_content-item">
            <h2>Nhiệt độ (&deg;C)</h2>
            <div class="setting_input">
              <label for="">Cài đặt</label>
              <input id="temp_auto_3" isabled="disabled" type="number" />
              <script>fn_Auto_IOField_IO("Nhap_temp_auto_3", "temp_auto_3", 0);</script>
            </div>
          </div>
        </div>


        <div class="setting_item">
          <h2 id="dieuhoa3" class="setting_item-title">Điều Hòa 3</h2>
          <div class="setting_content-item">
            <h2>ON OFF</h2>
            <div class="setting_input">
              <label for="">Cài đặt</label>
              <select id="on_off_aut_4" disabled="disabled" type="text">
                <option value="0">0</option>
                <option value="1">1</option>
              </select>
              <script>fn_Auto_IOField_IO("On_off_auto_4", "on_off_aut_4", 0);</script>
            </div>
          </div>
          <div class="setting_content-item">
            <h2>Chế độ (mod)</h2>
            <div class="setting_input">
              <label for="">Cài đặt</label>
              <select id="mode_aut_4" disabled="disabled" type="text">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
              <script>fn_Auto_IOField_IO("Mode_auto_4", "mode_aut_4", 0);</script>
            </div>
          </div>
          <div class="setting_content-item">
            <h2>Tốc độ Quạt (mod)</h2>
            <div class="setting_input">
              <label for="">Cài đặt</label>
              <select id="speed_auto_4" disabled="disabled" type="text">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              <script>fn_Auto_IOField_IO("Fan_speed_auto_4", "speed_auto_4", 0);</script>
            </div>
          </div>
          <div class="setting_content-item">
            <h2>Góc mở (mod)</h2>
            <div class="setting_input">
              <label for="">Cài đặt</label>
              <select id="position_auto_4" disabled="disabled" type="text">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="10">10</option>
              </select>
              <script>fn_Auto_IOField_IO("Van_position_auto_4", "position_auto_4", 0);</script>
            </div>
          </div>
          <div class="setting_content-item">
            <h2>Nhiệt độ (&deg;C)</h2>
            <div class="setting_input">
              <label for="">Cài đặt</label>
              <input id="temp_auto_4" disabled="disabled" type="number" />
              <script>fn_Auto_IOField_IO("Nhap_temp_auto_4", "temp_auto_4", 0);</script>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('btn_scroll.ejs'); -%>
  </body>
</html>
