<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/auto.css" />
    <link rel="stylesheet" href="css/manual.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="/js/fontawesome.js"  crossorigin="anonymous"></script>
    <title>Lưu Foam</title>
  </head>
  <body>
    <script src="js/login.js"></script>
    <%- include('header.ejs'); -%>
    <div class="setting_container">
      <div class="setting_container-title">
        <h2>Chế Độ Tự động</h2>
      </div>
      <div class="auto_body">
        <div class="setting_item">
          <h2 class="setting_item-title">Điều Hòa 1</h2>
          <div class="setting_content-item">
            <h2>Nhiệt Độ</h2>
            <div class="setting_input">
              <label for="">Cài Đặt</label><input type="text" />
            </div>
            <div class="setting_input-btn"></div>
          </div>
          <div class="setting_content-item">
            <h2>Góc Mở</h2>
            <div class="setting_input">
              <label for="">Cài Đặt</label><input type="text" />
            </div>
          </div>
          <div class="setting_content-item">
            <h2>T/Đ Quạt</h2>
            <div class="setting_input">
              <label for="">Cài Đặt</label><input type="text" />
            </div>
          </div>
          <div class="setting_content">
            <div class="setting_btn">
              <div class="btn_auto">Áp Dụng</div>
            </div>
          </div>
        </div>
        <div class="setting_item">
          <h2 class="setting_item-title">Điều Hòa 2</h2>
          <div class="setting_content-item">
            <h2>Nhiệt Độ</h2>
            <div class="setting_input">
              <label for="">Cài Đặt</label><input type="text" />
            </div>
          </div>
          <div class="setting_content-item">
            <h2>Góc Mở</h2>
            <div class="setting_input">
              <label for="">Cài Đặt</label><input type="text" />
            </div>
          </div>
          <div class="setting_content-item">
            <h2>T/Đ Quạt</h2>
            <div class="setting_input">
              <label for="">Cài Đặt</label><input type="text" />
            </div>
          </div>
          <div class="setting_content">
            <div class="setting_btn">
              <div class="btn_auto">Áp Dụng</div>
            </div>
          </div>
        </div>
        <div class="setting_item">
          <h2 class="setting_item-title">Điều Hòa 3</h2>
         
          <div class="setting_content-item">
            <h2>Nhiệt Độ</h2>
            <div class="setting_input">
              <label for="">Cài Đặt</label><input type="text" />
            </div>
          </div>
          <div class="setting_content-item">
            <h2>Góc Mở</h2>
            <div class="setting_input">
              <label for="">Cài Đặt</label><input type="text" />
            </div>
          </div>
          <div class="setting_content-item">
            <h2>T/Đ Quạt</h2>
            <div class="setting_input">
              <label for="">Cài Đặt</label><input type="text" />
            </div>
          </div>
          <div class="setting_content">
            <div class="setting_btn">
              <div class="btn_auto">Áp Dụng</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </body>
  <script>
        $ = document.querySelector.bind(document);
    $$ = document.querySelectorAll.bind(document);
    const listStart = $$(".btn_start");
    const listStop = $$(".btn_stop");
    listStart.forEach((e, index) => {
      e.onclick = function () {
        this.classList.remove("active_btn");
        listStop[index].classList.add("active_btn");
      };
    });

    listStop.forEach((e, index) => {
      e.onclick = function () {
        this.classList.remove("active_btn");
        listStart[index].classList.add("active_btn");
      };
    });
  </script>
</html>
