<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/auto.css" />
    <link rel="stylesheet" href="css/manual.css">
    <title>Lưu Foam</title>
  </head>
  <body>
    <script src="js/login.js"></script>
    <%- include('header.ejs'); -%>
    <div class="setting_container">
      <div class="setting_container-title">
        <h2>Chế Độ Tự động</h2>
      </div>
      <div class="setting_item">
        <h2 class="setting_item-title">Điều Hòa 1</h2>
        <div class="setting_content-item">
          <h2>Nhiệt Độ</h2>
          <div class="setting_input">
            <label for="">Cài Đặt</label><input type="text" />
          </div>
        </div>
        <div class="setting_content-item">
          <h2>Góc Mở</h2>
          <div class="setting_input">
            <label for="">Cài Đặt</label><input type="text" />
          </div>
        </div>
        <div class="setting_content-item">
          <h2>T/Đ Quạt</h2>
          <div class="setting_input">
            <label for="">Cài Đặt</label><input type="text" />
          </div>
        </div>
        <div class="setting_content">
          <div class="setting_btn">
            <div class="btn_auto">Áp Dụng</div>
          </div>
        </div>
      </div>
      <div class="setting_item">
        <h2 class="setting_item-title">Điều Hòa 2</h2>
        <div class="setting_content-item">
          <h2>Nhiệt Độ</h2>
          <div class="setting_input">
            <label for="">Cài Đặt</label><input type="text" />
          </div>
        </div>
        <div class="setting_content-item">
          <h2>Góc Mở</h2>
          <div class="setting_input">
            <label for="">Cài Đặt</label><input type="text" />
          </div>
        </div>
        <div class="setting_content-item">
          <h2>T/Đ Quạt</h2>
          <div class="setting_input">
            <label for="">Cài Đặt</label><input type="text" />
          </div>
        </div>
        <div class="setting_content">
          <div class="setting_btn">
            <div class="btn_auto">Áp Dụng</div>
          </div>
        </div>
      </div>
      <div class="setting_item">
        <h2 class="setting_item-title">Điều Hòa 3</h2>
       
        <div class="setting_content-item">
          <h2>Nhiệt Độ</h2>
          <div class="setting_input">
            <label for="">Cài Đặt</label><input type="text" />
          </div>
        </div>
        <div class="setting_content-item">
          <h2>Góc Mở</h2>
          <div class="setting_input">
            <label for="">Cài Đặt</label><input type="text" />
          </div>
        </div>
        <div class="setting_content-item">
          <h2>T/Đ Quạt</h2>
          <div class="setting_input">
            <label for="">Cài Đặt</label><input type="text" />
          </div>
        </div>
        <div class="setting_content">
          <div class="setting_btn">
            <div class="btn_auto">Áp Dụng</div>
          </div>
        </div>
      </div>
      <div class="operate_auto">
        <div class="operate_auto-body">
          <div class="operate_manual-item">
            <div class="operate_item-title">
              <h2>điều hòa 1</h2>
            </div>
            <div class="operate_content-auto">
              <h2>trạng thái</h2>
              <div class="operate_status-btn">
                <div class="btn_start active_btn">start</div>
                <div class="btn_stop">stop</div>
              </div>
            </div>
            <div class="operate_auto-value">
              <div class="auto_value-title">
                <h2>Thông Số Cài đặt gần nhất</h2>
              </div>
              <div class="auto_value">
                <div class="auto_value-item">
                  <label for="">nhiệt độ</label><input type="text" disabled />
                </div>
                <div class="auto_value-item">
                  <label for="">góc mở</label><input type="text" disabled />
                </div>
                <div class="auto_value-item">
                  <label for="">tốc độ</label><input type="text" disabled />
                </div>
              </div>
            </div>
          </div>
          <div class="operate_manual-item">
            <div class="operate_item-title">
              <h2>điều hòa 2</h2>
            </div>
            <div class="operate_content-auto">
              <h2>trạng thái</h2>
              <div class="operate_status-btn">
                <div class="btn_start active_btn">start</div>
                <div class="btn_stop">stop</div>
              </div>
            </div>
            <div class="operate_auto-value">
              <div class="auto_value-title">
                <h2>Thông Số Cài đặt gần nhất</h2>
              </div>
              <div class="auto_value">
                <div class="auto_value-item">
                  <label for="">nhiệt độ</label><input type="text" disabled />
                </div>
                <div class="auto_value-item">
                  <label for="">góc mở</label><input type="text" disabled />
                </div>
                <div class="auto_value-item">
                  <label for="">tốc độ</label><input type="text" disabled />
                </div>
              </div>
            </div>
          </div>
          <div class="operate_manual-item">
            <div class="operate_item-title">
              <h2>điều hòa 3</h2>
            </div>
            <div class="operate_content-auto">
              <h2>trạng thái</h2>
              <div class="operate_status-btn">
                <div class="btn_start active_btn">start</div>
                <div class="btn_stop">stop</div>
              </div>    
            </div>
            <div class="operate_auto-value">
              <div class="auto_value-title">
                <h2>Thông Số Cài đặt gần nhất</h2>
              </div>
              <div class="auto_value">
                <div class="auto_value-item">
                  <label for="">nhiệt độ</label><input type="text" disabled />
                </div>
                <div class="auto_value-item">
                  <label for="">góc mở</label><input type="text" disabled />
                </div>
                <div class="auto_value-item">
                  <label for="">tốc độ</label><input type="text" disabled />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </body>
  <script>
        $ = document.querySelector.bind(document);
    $$ = document.querySelectorAll.bind(document);
    const listStart = $$(".btn_start");
    const listStop = $$(".btn_stop");
    listStart.forEach((e, index) => {
      e.onclick = function () {
        this.classList.remove("active_btn");
        listStop[index].classList.add("active_btn");
      };
    });

    listStop.forEach((e, index) => {
      e.onclick = function () {
        this.classList.remove("active_btn");
        listStart[index].classList.add("active_btn");
      };
    });
  </script>
</html>
