<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/energy.css" />
    <title>Scada Foam</title>
</head>
<body>
    <%- include('header.ejs'); -%>
    <div class="energy_container">
        <div class="energy_watch">
            <div class="energy_watch-item">
                <div class="watch_item"></div>
                <div class="watch_item"></div>
                <div class="watch_item"></div>
            </div>
            <div class="energy_watch-item">
                <div class="watch_item"></div>
                <div class="watch_item"></div>
                <div class="watch_item"></div>
            </div>
            <div class="energy_watch-item">
                <div class="watch_item"></div>
                <div class="watch_item"></div>
                <div class="watch_item"></div>
            </div>
        </div>
        <div class="energy_chart">
            <div class="chart_item"></div>
            <div class="chart_item"></div>
            <div class="chart_item"></div>
        </div>
    </div>
</body>
</html>