<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/export.css" />
    <link rel="stylesheet" href="/css/home_style.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <script src="/js/fontawesome.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/font.css" />

    <script src="/js/code.jquery.com_jquery-3.7.0.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src = "js/plotly-2.8.3.min.js"></script>
    <script src="/js/FC1_Common.js"></script>
    <script src="/js/FC4_du_lieu.js"></script>
    <script src ="/js/FileSaver.js"></script>
    <script src="/js/FC5_excel_export.js"></script>

    <script src="/js/chart_min.js"></script>
    <script src="/js/fontawesome.js" crossorigin="anonymous"></script>
    

    <link rel="stylesheet" href="css/font.css" />
    <title>Lưu Foam</title>
  </head>
  <body>
    <%- include('header.ejs'); -%> <%- include('loadding.ejs'); -%>

    <div class="export_container">
      <div id="Baocao">
        <div class="input_item">
          <label id="lb_Search_Start">Từ:</label>
          <input id="dtpk_Search_Start"type="datetime-local"/>
        </div>
        <div class="input_item">
          <label id="lb_Search_End">Đến:</label>
          <input id="dtpk_Search_End" type="datetime-local"/>
        </div>
        <div class="input_item_btn">
          <button id="btt_Search" class="btn" onclick="fn_SQL_By_Time();">TÌM KIẾM</button>
        </div>
        <div class="input_item_btn">
          <button id="btt_Excel" class="btn" onclick="fn_excel();">BÁO CÁO</button>
        </div>
        <!--<div class="input_item_btn">
          <button id="btt_Search" onclick="fn_Table01_SQL_Show();">DỮ LIỆU</button>
        </div>-->
      </div>
      <div class="export_body">
        <div class="export_para">
          <div id="div_Table_01">
            <h2>DỮ LIỆU</h2>
            <table id="table_01">
              <thead>
                <tr>
                  <th class="th_time">Thời gian</th>
                  <th>Auto</th>
                  <th>Manual</th>
                  <th>Nhiệt độ phòng</th>
                  <th>Độ ẩm</th>
                  <th>Trạng thái máy lạnh 1</th>
                  <th>Nhiệt độ máy lạnh 1</th>
                  <th>Nhiệt độ tham chiếu máy lạnh 1</th>
                  <th>Trạng thái máy lạnh 2</th>
                  <th>Nhiệt độ máy lạnh 2</th>
                  <th>Nhiệt độ tham chiếu máy lạnh 2</th>
                  <th>Trạng thái máy lạnh 3</th>
                  <th>Nhiệt độ máy lạnh 3</th>
                  <th>Nhiệt độ tham chiếu máy lạnh 3</th>
                  <th>Thời gian cập nhật nhiệt độ</th>
                  <th>Biên độ nhiệt thấp</th>
                  <th>Biên độ nhiệt cao</th>
                  <th>Cảnh báo nhiệt độ</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>

        <div class="export_error">
          <div id="div_table_error">
            <h2>Bảng Báo Lỗi</h2>
            <table id="table_error">
              <thead>
                <tr>
                  <th class="th_time">Thời gian</th>

                  <th>Trạng Thái</th>

                  <th>Nhiệt Độ</th>

                  <th>Độ ẨM</th>

                  <th>Góc Mở</th>

                  <th>Tốc Độ Quạt</th>
                  <th>Thông Tin Lỗi/Cảnh Báo</th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="home_chart-tem" id="tem">
            <script>
                var data_trend_dh1 = 0;
                var data_trend_dh2 = 0;
                var data_trend_dh3 = 0;
                var data_trend_nd = 0;
                var xData = [];
                var yData_dh1 = [];
                var yData_dh2 = [];
                var yData_dh3 = [];
                var yData_nd = [];
                var cnt = 0;
                var layout = {
                  title: "Biểu đồ hệ thống nhiệt",
                    xaxis: {
                        range: [0, 10],
                        showticklabels: true,
                        tickformat: '%H:%M:%S/%d-%m-%y'
                    },
                    yaxis: {
                       showline: true,
                        range: [0, 120]
                    },
                    margin: {
                        t: 20
                    }
                };
        
                socket.on("Read_tem_refer_2", function(data) {
                    data_trend_dh1 = data;
                });
                socket.on("Read_tem_refer_3", function(data) {
                    data_trend_dh2 = data;
                });
                socket.on("Read_tem_refer_4", function(data) {
                    data_trend_dh3 = data;
                });
                socket.on("Nhiet_do", function(data) {
                    data_trend_nd = data;
                });
        
                Plotly.newPlot('tem', [{
                    y: [data_trend_dh1],
                    type: 'line',
                    mode: 'lines',
                    line: {
                        color: 'orange',
                        width: 2
                    },
                    name: 'Điều hoà 1' // Đặt tên cho dữ liệu nhiệt độ
                },
                {
                    y: [data_trend_dh2],
                    type: 'line',
                    mode: 'lines',
                    line: {
                        color: 'green',
                        width: 2
                    },
                    name: 'Điều hoà 2' // Đặt tên cho dữ liệu nhiệt độ
                },
                {
                    y: [data_trend_dh3],
                    type: 'line',
                    mode: 'lines',
                    line: {
                        color: 'yellow',
                        width: 2
                    },
                    name: 'Điều hoà 3' // Đặt tên cho dữ liệu nhiệt độ
                },
                {
                    y: [data_trend_nd],
                    type: 'line',
                    mode: 'lines',
                    line: {
                        color: 'red',
                        width: 2
                    },
                    name: 'Nhiệt độ' // Đặt tên cho dữ liệu nhiệt độ
                }], layout);
        
                setInterval(function() {
                    var currentDate = new Date();
                    var hours = currentDate.getUTCHours() + 7;
                    var minutes = currentDate.getUTCMinutes();
                    var seconds = currentDate.getUTCSeconds();
                    var date = currentDate.getUTCDate();
                    var month = currentDate.getUTCMonth() + 1;
                    var year = currentDate.getUTCFullYear();
                    var timeString = hours + ":" + minutes + ":" + seconds;
                    var dateString = date + "/" + month +"/"+year;
                    var formattedDateString = timeString + "<br>" + dateString;
                    xData.push(formattedDateString);
                    yData_dh1.push(data_trend_dh1);
                    yData_dh2.push(data_trend_dh2);
                    yData_dh3.push(data_trend_dh3);
                    yData_nd.push(data_trend_nd);
                    cnt++;
                    if (cnt > 15) {
                        xData.shift();
                        yData_dh1.shift();
                        yData_dh2.shift();
                        yData_dh3.shift();
                        yData_nd.shift();
                    }
                    Plotly.update('tem', {
                        x: [xData],
                        y: [yData_dh1, yData_dh2, yData_dh3, yData_nd]
                    });
                }, 1000);
            </script>
        </div>



        <div class="home_chart-room">
          <div id="chart_detail" class="chart">
            <script>
              function Draw_Chart() {
                var x1Values = [];
            var y1Values = [];
            var y2Values = [];
            var y3Values = [];
            var y4Values = [];
            x1Values.push(...date_time);
            y1Values.push(...nhiet_do_ml1);
            y2Values.push(...nhiet_do_ml2);
            y3Values.push(...nhiet_do_ml3);
            y4Values.push(...nhiet_do_cb);
            
            var data = [
            {x: x1Values, y: y1Values,mode:'lines', name: 'Điều hoà 1',hoverinfo:'x+y', nticks: 10,fixedrange: true, color: 'black' },
            {x: x1Values, y: y2Values, mode:"lines", name: 'Điều hoà 2',hoverinfo:'x+y', nticks: 10,fixedrange: true},
            {x: x1Values, y: y3Values, mode:"lines", name: 'Điều hoà 3',hoverinfo:'x+y', nticks: 10,fixedrange: true},
            {x: x1Values, y: y4Values,mode:'lines', name: 'Nhiệt độ',hoverinfo:'x+y', nticks: 10 ,fixedrange: true},
            
            ];
    
    
           var layout = {
            title: "Biểu đồ hệ thống nhiệt",
            borderRadius: '10px',
            font: {
              color: 'black' // Màu chữ trên biểu đồ
            },
            yaxis:
         {
           
            showline: true,
            fixedrange: true,
            range: [0, 100],
            autotick: false,
            tick0: 0,
            dtick:100,
        },
          };
                Plotly.newPlot("chart_detail", data, layout);
              }
            
              // Gọi hàm Draw_Chart() để tạo biểu đồ
              Draw_Chart();
            </script>
        </div>
        
        

            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
 <!-- <script>
    const body = document.querySelector(".export_para");
    const error = document.querySelector(".export_error");
    let changeBtn = true;
    const btnChange = document.querySelector(".change_btn");

    const changeTable = () => {
      if (btnChange.classList[1] === "change") {
        body.style.display = "block";
        error.style.display = "none";
        btnChange.classList.remove("change");
        changeBtn = true;
      } else {
        changeBtn = false;
        body.style.display = "none";
        error.style.display = "block";
        btnChange.classList.add("change");
      }
    };
  </script>-->
</html>
