<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/header_style.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Scada Foam</title>
  </head>
  <body>
    <div class="header_container">
      <input type="checkbox" id="menu_mobile-check" />
      <label for="menu_mobile-check" class="menu_mobile">
        <i class="fa-solid fa-bars"></i>
      </label>
      <div class="header_logo">
        <img src="/images/cropped-logo-thaco-industries.png" alt="logo" />
      </div>
      <div class="header_menu">
        <ul>
          <a href=""><li>Foam</li></a>
          <a href="">
            <li>Cài đặt</li>
          </a>
          <a href="">
            <li>Trích xuất</li>
          </a>
          <a href="">
            <li>điện năng</li>
          </a>
        </ul>
      </div>
      <div class="header_title">
        <h1>Hệ Thống giám sát Foam</h1>
      </div>
      <%- include('modal_menu.ejs'); -%>
    </div>
  </body>
  <script>
    const url = window.location.pathname; // lấy đường dẫn đầy đủ
    const tachchuoi = url.split("/"); // tách đường dẫn thành các đoạn
    const value = tachchuoi[1]; // lấy giá trị ở đoạn thứ 2
    const href = document.querySelectorAll(".header_menu a li");
    if (value == "") {
      href[0].classList.add("active");
    } else if (value == "setting") {
      href[1].classList.add("active");
    } else if (value == "export") {
      href[2].classList.add("active");
    } else {
      href[3].classList.add("active");
    }
    const screen = () => {
      const screenWidth = document.documentElement.clientWidth;
      if (screenWidth >= 767.5) {
        const checkbox = document.getElementById("menu_mobile-check");
        checkbox.checked = false;
      }
    };
    setInterval(screen, 100);
  </script>
</html>
