<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="PQH tobi" />
    <meta name="giám sát lưu foam" content="Author: PQH tobi" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/header_style.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <script src="/js/fontawesome.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/font.css" />

    <title>Scada Foam</title>
  </head>
  <body>
    <div class="header_container" id="top_header">
      <input type="checkbox" id="menu_mobile-check" />
      <label for="menu_mobile-check" class="menu_mobile">
        <i class="fa-solid fa-bars"></i>
      </label>
      <div class="header_logo">
        <img src="/images/LOGO_24-7-2023-01.png" alt="logo" />
      </div>
      <div class="header_menu">
        <ul>
          <a href="/"><li>Foam</li></a>

          <a href="/export" id="exportLink">
            <li>Trích xuất</li>
          </a>
          <a href="/energy">
            <li>điện năng</li>
          </a>
          <a href="/auto">
            <li>tự động</li>
          </a>
          <a href="/manual">
            <li>thủ công</li>
          </a>
          <a href="/huongdan">
            <li>Hướng Dẫn</li>
          </a>
          <li class="textUlLi flagLi">
            <div class="blockFlagVn">
              <img src="/images/vi.png" alt="flagVN" />
              <a href="/change-lang/vi"><button class="buttonChanggeLang">VN</button></a>
              <DownOutlined class="textIcon" />
            </div>
            <div class="divChangge">
              <img src="/images/en.png" alt="FlagEN" />
              <a href="/change-lang/en"><button class="buttonChangge">ENG</button></a>
            </div>
          </li>
          <li class="icon_logout" title="Đăng xuất"></li>
        </ul>
      </div>
      <div class="header_title">
        <h3>PHÒNG SẢN XUẤT VÀ LƯU TRỮ FOAM</h3>
      </div>
      <%- include('modal_menu.ejs'); -%>
    </div>
  </body>
  <script>
    const url = window.location.pathname; // lấy đường dẫn đầy đủ
    const tachchuoi = url.split("/"); // tách đường dẫn thành các đoạn
    const value = tachchuoi[1]; // lấy giá trị ở đoạn thứ 2
    const href = document.querySelectorAll(".header_menu a li");
    const logout = document.querySelector(".icon_logout");
    if (value == "") {
      href[0].classList.add("active");
    } else if (value == "export") {
      href[1].classList.add("active");
    } else if (value == "auto") {
      href[3].classList.add("active");
    } else if (value === "energy") {
      href[2].classList.add("active");
    } else if (value === "manual") {
      href[4].classList.add("active");
    } else {
      href[5].classList.add("active");
    }
    const screen = () => {
      const screenWidth = document.documentElement.clientWidth;
      if (screenWidth >= 767.5) {
        const checkbox = document.getElementById("menu_mobile-check");
        checkbox.checked = false;
      }
    };
    setInterval(screen, 100);
    var logoutBtn = document.querySelector(".icon_logout");
    logoutBtn.addEventListener("click", function () {
      document.cookie =
        "loggedIn=false; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
      window.location.href = "/login";
    });
    function checkLoggedIn() {
      var cookieValue = document.cookie
        .split("; ")
        .find((row) => row.startsWith("loggedIn="));
      if (cookieValue) {
        var loggedIn = cookieValue.split("=")[1];
        if (loggedIn === "true") {
          console.log("Người dùng đã đăng nhập.");
        } else {
          logout.style.display = "none";
        }
      } else {
        logout.style.display = "none";
      }
    }
    checkLoggedIn();

    var cookieValue = document.cookie
      .split("; ")
      .find((row) => row.startsWith("lang="));

    const lang_cookie = cookieValue.split("=")[1];

    const blockFlagVn_img = document.querySelector(".blockFlagVn img");
    const blockFlagVn_btn = document.querySelector(".buttonChanggeLang");
    const divChangge_img = document.querySelector(".divChangge img");
    const divChangge_btn = document.querySelector(".buttonChangge");
    const blockFlagVn_link = document.querySelector(".blockFlagVn a");
    const divChangge_link = document.querySelector(".divChangge a");

    if (lang_cookie == "en") {
      blockFlagVn_img.src = "/images/en.png";
      divChangge_img.src = "/images/vi.png";
      blockFlagVn_btn.innerHTML = "ENG";
      divChangge_btn.innerHTML = "VN";
      blockFlagVn_link.href = "/change-lang/en";
      divChangge_link.href = "/change-lang/vi";
    }
  </script>
</html>
