<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/home_style.css" />
    <title>Scada Foam</title>
</head>
<body>
    <%- include('header.ejs'); -%>
    <div class="home_container">
        <div class="home_system">
            <div class="system_item"></div>
            <div class="system_item"></div>
            <div class="system_item"></div>
        </div>
        <div class="home_chart"></div>
    </div>
</body>
</html>