<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charCài Đặt="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/home_style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <script src="socket.io/socket.io.js"></script>
    <script src="/js/chart_min.js"></script>
    <script src="/js/fontawesome.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/font.css" />

    <title>Lưu Foam</title>

    <!-- ////////////// CÁC KHỐI CHƯƠNG TRÌNH CON //////////////-->
    <script>
      // Chương trình con đọc dữ liệu lên IO Field
      function fn_IOFieldDataShow(tag, IOField, tofix) {
        socket.on(tag, function (data) {
          if (tofix == 0) {
            document.getElementById(IOField).value = data;
          } else {
            document.getElementById(IOField).value = data.toFixed(tofix);
          }
        });
      }
    </script>
  </head>
  <script>
    var socket = io(document.location.host);
  </script>
  <body>
    <%- include('header.ejs'); -%>
    <div class="home_container">
      <div class="home_system">
        <div class="system_item">
          <div class="system_item-air">
            <div class="item_air-title">
              <h2>Thông Số Phòng</h2>
            </div>
            <div class="item_air-room">
              <div class="item_data-room">
                <h2>Nhiệt Độ:</h2>

                <input id="nhiet_do" disabled="disabled" type="text" />
                <script>
                  fn_IOFieldDataShow("Nhiet_do", "nhiet_do", 0);
                </script>
              </div>
              <div class="item_data-room">
                <h2>Độ Ẩm:</h2>

                <input id="do_am" disabled="disabled" type="text" />
                <script>
                  fn_IOFieldDataShow("Do_am", "do_am", 0);
                </script>
              </div>
            </div>
          </div>
        </div>
        <div class="system_item">
          <div class="system_item-air">
            <div class="item_air-title">
              <h2>Điều Hòa 1</h2>
            </div>
            <div class="item_air-status">
              <h2>Trạng thái</h2>
              <p class="status_mode">Đang Chạy</p>
            </div>
            <div class="item_air-tem">
              <h2>Chế Độ:</h2>
              <div class="item_air-data">
                <div class="block_data-item">
                  <label for="">Thực Tế</label>
                  <input id="che_do_2" disabled="disabled" type="text" />
                  <script>
                    fn_IOFieldDataShow("Read_mode_2", "che_do_2", 0);
                  </script>
                </div>

                <div class="block_data-item">
                  <label for="">Cài Đặt</label>
                  <input id="cai_che_do_2" disabled="disabled" type="text" />
                  <script>
                    fn_IOFieldDataShow("Mode_data_2", "cai_che_do_2", 0);
                  </script>
                </div>
              </div>
            </div>
            <div class="item_air-tem">
              <h2>Nhiệt Độ (&deg;C):</h2>
              <div class="item_air-data">
                <div class="block_data-item">
                  <label for="">Thực Tế</label>
                  <input id="nhiet_ml_2" disabled="disabled" type="text" />
                  <script>
                    fn_IOFieldDataShow("Read_tem_refer_2", "nhiet_ml_2", 0);
                  </script>
                </div>

                <div class="block_data-item">
                  <label for="">Cài Đặt</label>
                  <input id="cai_nhiet_ml_2" disabled="disabled" type="text" />
                  <script>
                    fn_IOFieldDataShow("Nhap_temp_data_2", "cai_nhiet_ml_2", 0);
                  </script>
                </div>
              </div>
            </div>
            <div class="item_air-tem">
              <h2>Góc mở (mod):</h2>
              <div class="item_air-data">
                <div class="block_data-item">
                  <label for="">Thực Tế</label>
                  <input id="goc_mo_2" disabled="disabled" type="text" />
                  <script>
                    fn_IOFieldDataShow("Read_position_2", "goc_mo_2", 0);
                  </script>
                </div>

                <div class="block_data-item">
                  <label for="">Cài Đặt</label>
                  <input id="cai_goc_mo_2" disabled="disabled" type="text" />
                  <script>
                    fn_IOFieldDataShow(
                      "Van_position_data_2",
                      "cai_goc_mo_2",
                      0
                    );
                  </script>
                </div>
              </div>
            </div>
            <div class="item_air-tem">
              <h2>Tốc độ quạt (mod):</h2>
              <div class="item_air-data">
                <div class="block_data-item">
                  <label for="">Thực Tế</label>
                  <input id="td_quat_2" disabled="disabled" type="text" />
                  <script>
                    fn_IOFieldDataShow("Read_speed_2", "td_quat_2", 0);
                  </script>
                </div>
                <div class="block_data-item">
                  <label for="">Cài Đặt</label>
                  <input id="cai_td_quat_2" disabled="disabled" type="text" />
                  <script>
                    fn_IOFieldDataShow("Fan_speed_data_2", "cai_td_quat_2", 0);
                  </script>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="system_item">
          <div class="system_item-air">
            <div class="item_air-title">
              <h2>Điều Hòa 2</h2>
            </div>

            <div class="item_air-status">
              <h2>Trạng thái</h2>
              <p class="status_mode">Đang Chạy</p>
            </div>
            <div class="item_air-tem">
              <h2>Chế Độ:</h2>
              <div class="item_air-data">
                <div class="block_data-item">
                  <label for="">Thực Tế</label>
                  <input id="che_do_3" disabled="disabled" type="text" />
                  <script>
                    fn_IOFieldDataShow("Read_mode_3", "che_do_3", 0);
                  </script>
                </div>

                <div class="block_data-item">
                  <label for="">Cài Đặt</label>
                  <input id="cai_che_do_3" disabled="disabled" type="text" />
                  <script>
                    fn_IOFieldDataShow("Mode_data_3", "cai_che_do_3", 0);
                  </script>
                </div>
              </div>
            </div>
            <div class="item_air-tem">
              <h2>Nhiệt Độ (&deg;C):</h2>
              <div class="item_air-data">
                <div class="block_data-item">
                  <label for="">Thực Tế</label>
                  <input id="nhiet_ml_3" disabled="disabled" type="text" />
                  <script>
                    fn_IOFieldDataShow("Read_tem_refer_3", "nhiet_ml_3", 0);
                  </script>
                </div>

                <div class="block_data-item">
                  <label for="">Cài Đặt</label>
                  <input id="cai_nhiet_ml_3" disabled="disabled" type="text" />
                  <script>
                    fn_IOFieldDataShow("Nhap_temp_data_3", "cai_nhiet_ml_3", 0);
                  </script>
                </div>
              </div>
            </div>
            <div class="item_air-tem">
              <h2>Góc mở (mod):</h2>
              <div class="item_air-data">
                <div class="block_data-item">
                  <label for="">Thực Tế</label>
                  <input id="goc_mo_3" disabled="disabled" type="text" />
                  <script>
                    fn_IOFieldDataShow("Read_position_3", "goc_mo_3", 0);
                  </script>
                </div>

                <div class="block_data-item">
                  <label for="">Cài Đặt</label>
                  <input id="cai_goc_mo_3" disabled="disabled" type="text" />
                  <script>
                    fn_IOFieldDataShow(
                      "Van_position_data_3",
                      "cai_goc_mo_3",
                      0
                    );
                  </script>
                </div>
              </div>
            </div>
            <div class="item_air-tem">
              <h2>Tốc độ quạt (mod):</h2>
              <div class="item_air-data">
                <div class="block_data-item">
                  <label for="">Thực Tế</label>
                  <input id="td_quat_3" disabled="disabled" type="text" />
                  <script>
                    fn_IOFieldDataShow("Read_speed_3", "td_quat_3", 0);
                  </script>
                </div>
                <div class="block_data-item">
                  <label for="">Cài Đặt</label>
                  <input id="cai_td_quat_3" disabled="disabled" type="text" />
                  <script>
                    fn_IOFieldDataShow("Fan_speed_data_3", "cai_td_quat_3", 0);
                  </script>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="system_item">
          <div class="system_item-air">
            <div class="item_air-title">
              <h2>Điều Hòa 3</h2>
            </div>

            <div class="item_air-status">
              <h2>Trạng thái</h2>
              <p class="status_mode">Đang Chạy</p>
            </div>
            <div class="item_air-tem">
              <h2>Chế Độ:</h2>
              <div class="item_air-data">
                <div class="block_data-item">
                  <label for="">Thực Tế</label>
                  <input id="che_do_4" disabled="disabled" type="text" />
                  <script>
                    fn_IOFieldDataShow("Read_mode_4", "che_do_4", 0);
                  </script>
                </div>

                <div class="block_data-item">
                  <label for="">Cài Đặt</label>
                  <input id="cai_che_do_4" disabled="disabled" type="text" />
                  <script>
                    fn_IOFieldDataShow("Mode_data_4", "cai_che_do_4", 0);
                  </script>
                </div>
              </div>
            </div>
            <div class="item_air-tem">
              <h2>Nhiệt Độ (&deg;C):</h2>
              <div class="item_air-data">
                <div class="block_data-item">
                  <label for="">Thực Tế</label>
                  <input id="nhiet_ml_4" disabled="disabled" type="text" />
                  <script>
                    fn_IOFieldDataShow("Read_tem_refer_4", "nhiet_ml_4", 0);
                  </script>
                </div>

                <div class="block_data-item">
                  <label for="">Cài Đặt</label>
                  <input id="cai_nhiet_ml_4" disabled="disabled" type="text" />
                  <script>
                    fn_IOFieldDataShow("Nhap_temp_data_4", "cai_nhiet_ml_4", 0);
                  </script>
                </div>
              </div>
            </div>
            <div class="item_air-tem">
              <h2>Góc mở (mod):</h2>
              <div class="item_air-data">
                <div class="block_data-item">
                  <label for="">Thực Tế</label>
                  <input id="goc_mo_4" disabled="disabled" type="text" />
                  <script>
                    fn_IOFieldDataShow("Read_position_4", "goc_mo_4", 0);
                  </script>
                </div>

                <div class="block_data-item">
                  <label for="">Cài Đặt</label>
                  <input id="cai_goc_mo_4" disabled="disabled" type="text" />
                  <script>
                    fn_IOFieldDataShow(
                      "Van_position_data_4",
                      "cai_goc_mo_4",
                      0
                    );
                  </script>
                </div>
              </div>
            </div>
            <div class="item_air-tem">
              <h2>Tốc độ quạt (mod):</h2>
              <div class="item_air-data">
                <div class="block_data-item">
                  <label for="">Thực Tế</label>
                  <input id="td_quat_4" disabled="disabled" type="text" />
                  <script>
                    fn_IOFieldDataShow("Read_speed_4", "td_quat_4", 0);
                  </script>
                </div>
                <div class="block_data-item">
                  <label for="">Cài Đặt</label>
                  <input id="cai_td_quat_4" disabled="disabled" type="text" />
                  <script>
                    fn_IOFieldDataShow("Fan_speed_data_4", "cai_td_quat_4", 0);
                  </script>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="home_chart">
        <h2>Biểu Đồ Nhiệt Độ</h2>
        <div class="home_chart-tem">
          <canvas id="myChart"></canvas>
          <script src="js/chart_tem.js"></script>
        </div>
        <h2>Thông Số Phòng Foam</h2>
        <div class="home_chart-room">
          <canvas id="chartRoom"></canvas>
          <script src="js/chart_room.js"></script>
        </div>
      </div>
    </div>
  </body>
  <script>
    const status = document.querySelectorAll(".status_mode");
    const operate = document.querySelectorAll(".operate_mode");

    status.forEach((e, index) => {
      let mode = true;
      e.onclick = function () {
        if (mode) {
          this.innerHTML = "Đang Dừng";
          this.style.backgroundColor = "var(--color-red)";
        } else {
          this.innerHTML = "Đang Chạy";
          this.style.backgroundColor = "var(--color-border)";
        }
        mode = !mode;
      };
    });
  </script>
</html>
