<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/huongdan.css" />
    <script src="/js/fontawesome.js"></script>
    <title>Scada Foam</title>
  </head>
  <body>
    <%- include('header.ejs'); -%>
    <div class="manual_container">
      <div class="menu_manual">
        <nav>
          <ul>
            <a href="#home">
              <li>Trang Chủ</li>
            </a>
            <a href="#header">
              <li>Header</li>
            </a>
            <a href="#export">
              <li>Trích Xuất</li>
            </a>
            <a href="#energy">
              <li>Điện Năng</li>
            </a>
            <a href="#login">
              <li>Đăng nhập</li>
            </a>
            <a href="#operate">
              <li>Vận Hành</li>
            </a>
          </ul>
        </nav>
      </div>
      <div class="manual_body">
        <h2 id="home">1:Trang Chủ</h2>
        <p>
          Đây sẽ là trang đầu tiên hiện lên khi đăng nhập vào hệ thống<br />
          * Trang này bao gồm: <br />
          - Thống số của 3 điều hòa. <br />
          - Biểu đồ nhiệt độ và biểu đồ thông số phòng.
        </p>
        <img src="images/home.png" alt="img home FOAM" />
        <h2 id="header">2:Header</h2>
        <p>
          Môi trang đều có cấu trúc tương tự nhau gồm 2 phần
          <strong>HEADER(Phần đầu của trang)</strong> và
          <strong>phần nội dung trang</strong>.<br />
          Dưới đây là phần header. Header có 2 loại: <br />
          1.Header khi không có đăng nhập:
        </p>
        <img src="images/header_NaN.png" alt="header no login" />
        <p>2.Header khi có đăng nhập:</p>
        <img src="images/header.png" alt="header" />
        <h2 id="export">3:Trích Xuất</h2>
        <p>Đây là giao diện hệ thống <strong>Trích Xuất Dữ Liệu</strong></p>
        <img src="images/export.png" alt="export" />
        <h2 id="energy">Điện Năng</h2>
        <p>Đây là giao diện hệ thống <strong>Giám Sát Điện</strong></p>
        <img src="images/energy.png" alt="energy" />
        <h2 id="login">4:Đăng Nhập</h2>
        <p>
          Khi vào trang <strong>Thủ Công</strong> và <strong>Tự Động</strong> giao diện
          <strong>Đăng Nhập</strong> sẽ hiện lên. <br />Đây là giao diện
          <strong>Đăng Nhập</strong>:
        </p>
        <img src="images/login.png" alt="login">
        <h2 id="operate">5:Vận Hành</h2>
        <p>Đây là giao diện hệ thống <strong>Vận Hành</strong><br>
        *Hệ thống vận hành chia làm 2 trang: <br>
        - Vận hành thủ công:
        <img src="images/manual.png" alt="operate auto">
        -vận hành tự động:
        <img src="images/auto.png" alt="operate manual">
      </p>
      </div>
    </div>
  </body>
</html>
