<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <script src="/js/fontawesome.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/font.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="login_container">
      <div class="login_body">
        <img src="/images/cropped-logo-thaco-industries.png" alt="logo" />
        <div class="login_block">
          <div class="login_btn">
            <h2>Đăng nhập <a href="/" class="btn_home"></a></h2>
            <div class="login_user">
              <label>Tài Khoản</label
              ><input id="username" type="text" placeholder="tài khoản" />
            </div>
            <div class="login_password">
              <label>Mật Khẩu</label
              ><input id="password" type="password" placeholder="mật khẩu" />
            </div>
            <div class="btn_submit">
              <button id="submitBtn">Đăng Nhập</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/check_login.js"></script>
    <script>
      document.onkeyup = (e) => {
        switch (e.which) {
          case 13:
            login();
            break;
        }
      };
    </script>
  </body>
</html>
