<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/manual.css" />
    <link rel="stylesheet" href="/css/auto.css" />
    <link rel="stylesheet" href="/css/responsive.css">
    <script src="/js/fontawesome.js"  crossorigin="anonymous"></script>
    <title>Scada Foam</title>
  </head>
  <script src="js/login.js"></script>
  <body>
    <%- include('header.ejs'); -%>
    <div class="operate_container">
      <div class="operate_container-title">
        <h2>Chế độ thủ công</h2>
      </div>
      <div class="operate_row">
      <div class="setting_item">
        <h2 class="setting_item-title">Điều Hòa 1</h2>
        <div class="setting_content-item">
          <h2>Nhiệt Độ</h2>
          <div class="setting_input">
            <label for="">Cài Đặt</label><input type="text" />
          </div>
        </div>
        <div class="setting_content-item">
          <h2>Góc Mở</h2>
          <div class="setting_input">
            <label for="">Cài Đặt</label><select name="" id="">
              <option value="1">1</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>
        <div class="setting_content-item">
          <h2>T/Đ Quạt</h2>
          <div class="setting_input">
            <label for="">Cài Đặt</label><select name="" id="">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>
        </div>
        <div class="setting_content">
          <div class="setting_btn">
            <div class="btn_auto">Áp Dụng</div>
          </div>
        </div>
      </div>
      <div class="setting_item">
        <h2 class="setting_item-title">Điều Hòa 2</h2>
        <div class="setting_content-item">
          <h2>Nhiệt Độ</h2>
          <div class="setting_input">
            <label for="">Cài Đặt</label><input type="text" />
          </div>
        </div>
        <div class="setting_content-item">
          <h2>Góc Mở</h2>
          <div class="setting_input">
            <label for="">Cài Đặt</label><select name="" id="">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>
        <div class="setting_content-item">
          <h2>T/Đ Quạt</h2>
          <div class="setting_input">
            <label for="">Cài Đặt</label><select name="" id="">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>
        </div>
        <div class="setting_content">
          <div class="setting_btn">
            <div class="btn_auto">Áp Dụng</div>
          </div>
        </div>
      </div>
      <div class="setting_item">
        <h2 class="setting_item-title">Điều Hòa 3</h2>
        <div class="setting_content-item">
          <h2>Nhiệt Độ</h2>
          <div class="setting_input">
            <label for="">Cài Đặt</label><input type="text" />
          </div>
        </div>
        <div class="setting_content-item">
          <h2>Góc Mở</h2>
          <div class="setting_input">
            <label for="">Cài Đặt</label><select name="" id="">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>
        <div class="setting_content-item">
          <h2>T/Đ Quạt</h2>
          <div class="setting_input">
            <label for="">Cài Đặt</label><select name="" id="">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>
        </div>
        <div class="setting_content">
          <div class="setting_btn">
            <div class="btn_auto">Áp Dụng</div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </body>

  <script>
    $ = document.querySelector.bind(document);
    $$ = document.querySelectorAll.bind(document);

    const container = $(".operate_container");
    const containerManual = $(".operate_manual");
    const containerAuto = $(".operate_auto");
    const btnExit = $(".btn-exit");
    const bodyManual = $(".operate_manual-body");
    const bodyAuto = $(".operate_auto-body");

    const listBlock = $$(".operate_item-content");
    const listBtnOn = $$(".btn_on");
    const listBtnOff = $$(".btn_off");

    const statusBlock = $$(".operate_item-status");

    listBtnOn.forEach((e, index) => {
      e.onclick = function () {
        this.classList.remove("active_btn");
        listBtnOff[index].classList.add("active_btn");
      };
    });
    listBtnOff.forEach((e, index) => {
      e.onclick = function () {
        this.classList.remove("active_btn");
        listBtnOn[index].classList.add("active_btn");
      };
    });

  </script>
</html>
