<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/modal_menu.css" />
    <script src="/js/fontawesome.js"  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/font.css">
    <title>Document</title>
  </head>
  <body>
    <div class="modal">
      <ul>
        <a href="http://localhost:8080/"><li>Foam</li></a>
        <a href="http://localhost:8080/export">
          <li>Trích xuất</li>
        </a>
        <a href="http://localhost:8080/energy">
          <li>điện năng</li>
        </a>
        <a href="http://localhost:8080/auto">
          <li>Tự động</li>
        </a>
        <a href="http://localhost:8080/manual">
          <li>Thủ công</li>
        </a>
        <a href="http://localhost:8080/huongdan">
          <li>Hướng dẫn</li>
        </a>
          <li class="icon_logout-modal">LogOut<div class="icon_modal"></div></li>
      </ul>
    </div>
  </body>
  <script>
    var logoutBtn = document.querySelector(".icon_logout-modal");
    logoutBtn.addEventListener("click", function () {
      document.cookie =
        "loggedIn=false; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        window.location.href = "http://localhost:8080/login";
    });
  </script>
</html>