<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="css/modal_menu.css" />
    <script src="/js/fontawesome.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/font.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="modal">
      <ul>
        <a href="/">
          <li> <i class="fa-solid fa-house fa-xl" style="color: #2c88dd; padding-right: 10px;"></i> Foam</li>
        </a>
        <a href="/export">
          <li> <i class="fa-solid fa-database fa-xl" style="color: #2c88dd; padding-right: 10px;"></i> Báo cáo</li>
        </a>
        <a href="/energy">
          <li> <i class="fa-solid fa-bolt fa-xl" style="color: #2c88dd; padding-right: 10px;"></i> Điện năng</li>
        </a>
        <a href="/auto">
          <li> <i class="fa-solid fa-gear fa-xl" style="color: #2c88dd; padding-right: 10px;"></i> Tự động</li>
        </a>
        <a href="/manual">
          <li> <i class="fa-solid fa-hand fa-xl" style="color: #2c88dd; padding-right: 10px;"></i> Thủ công</li>
        </a>
        <a href="/huongdan">
          <li> <i class="fa-solid fa-book fa-xl" style="color: #2c88dd; padding-right: 10px;"></i> Hướng dẫn</li>
        </a>
        <li class="icon_logout-modal">
          LogOut
          <div class="icon_modal"></div>
        </li>
      </ul>
    </div>
  </body>
  <script>
    var logoutBtn = document.querySelector(".icon_logout-modal");
    logoutBtn.addEventListener("click", function () {
      document.cookie =
        "loggedIn=false; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
      window.location.href = "/login";
    });

    const url = window.location.pathname; // lấy đường dẫn đầy đủ
    const tachchuoi = url.split("/"); // tách đường dẫn thành các đoạn
    const value = tachchuoi[1]; // lấy giá trị ở đoạn thứ 2
    const href = document.querySelectorAll(".modal ul a li");
    const hrefDiv = document.querySelectorAll(".modal ul a");
    const logout = document.querySelector(".icon_logout");
    if (value == "") {
      href[0].classList.add("active");
      hrefDiv.style.backgroundColor = "#333"
    } else if (value == "export") {
      href[1].classList.add("active");
      hrefDiv.style.backgroundColor = "#333"
    } else if (value == "auto") {
      href[3].classList.add("active");
      hrefDiv.style.backgroundColor = "#333"
    } else if (value === "energy") {
      href[2].classList.add("active");
      hrefDiv.style.backgroundColor = "#333"
    } else if (value === "manual") {
      href[4].classList.add("active");
      hrefDiv.style.backgroundColor = "#333"
    } else {
      href[5].classList.add("active");
      hrefDiv.style.backgroundColor = "#333"
    }
  </script>
</html>
