<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/modal_menu.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="modal">
      <ul>
        <a href="http://localhost:8080/"><li>Foam</li></a>
        <a href="http://localhost:8080/export">
          <li>Trích xuất</li>
        </a>
        <a href="http://localhost:8080/energy">
          <li>điện năng</li>
        </a>
        <a href="http://localhost:8080/setting">
          <li>Cài đặt</li>
        </a>
        <a href="http://localhost:8080/operate">
          <li>Vận Hành</li>
        </a>
      </ul>
    </div>
  </body>
</html>
