<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/operate.css" />
    <title>Scada Foam</title>
  </head>
  <script src="js/login.js"></script>
  <body>
    <%- include('header.ejs'); -%>
    <div class="operate_container">
      <div class="operate_manual">
        <div class="operate_manual-body">
          <h2>Chế độ thủ công</h2>
          <div class="operate_manual-item">
            <div class="operate_item-title">
              <h2>điều hòa 1</h2>
            </div>
            <div class="operate_item-status">
              <h2>trạng thái</h2>
              <div class="operate_status-btn">
                <div class="btn_on active_btn">on</div>
                <div class="btn_off">off</div>
              </div>
            </div>
            <div class="operate_item-content">
              <div class="item_air-tem">
                <h2>Nhiệt Độ</h2>
                <div class="item_air-data">
                  <label for="">Cài Đặt</label><input type="text" />
                </div>
                <div class="btn_submit">Áp Dụng</div>
              </div>
              <div class="item_air-tem">
                <h2>góc mở</h2>
                <div class="item_air-data">
                  <label for="">Cài Đặt</label
                  ><select name="" id="">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </div>
                <div class="btn_submit">Áp Dụng</div>
              </div>
              <div class="item_air-tem">
                <h2>tốc độ</h2>
                <div class="item_air-data">
                  <label for="">Cài Đặt</label
                  ><select name="" id="">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                  </select>
                </div>
                <div class="btn_submit">Áp Dụng</div>
              </div>
            </div>
          </div>
          <div class="operate_manual-item">
            <div class="operate_item-title">
              <h2>điều hòa 2</h2>
            </div>
            <div class="operate_item-status">
              <h2>trạng thái</h2>
              <div class="operate_status-btn">
                <div class="btn_on active_btn">on</div>
                <div class="btn_off">off</div>
              </div>
            </div>
            <div class="operate_item-content">
              <div class="item_air-tem">
                <h2>Nhiệt Độ</h2>
                <div class="item_air-data">
                  <label for="">Cài Đặt</label><input type="text" />
                </div>
                <div class="btn_submit">Áp Dụng</div>
              </div>
              <div class="item_air-tem">
                <h2>góc mở</h2>
                <div class="item_air-data">
                  <label for="">Cài Đặt</label
                  ><select name="" id="">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </div>
                <div class="btn_submit">Áp Dụng</div>
              </div>
              <div class="item_air-tem">
                <h2>tốc độ</h2>
                <div class="item_air-data">
                  <label for="">Cài Đặt</label
                  ><select name="" id="">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                  </select>
                </div>
                <div class="btn_submit">Áp Dụng</div>
              </div>
            </div>
          </div>
          <div class="operate_manual-item">
            <div class="operate_item-title">
              <h2>điều hòa 3</h2>
            </div>
            <div class="operate_item-status">
              <h2>trạng thái</h2>
              <div class="operate_status-btn">
                <div class="btn_on active_btn">on</div>
                <div class="btn_off">off</div>
              </div>
            </div>
            <div class="operate_item-content">
              <div class="item_air-tem">
                <h2>Nhiệt Độ</h2>
                <div class="item_air-data">
                  <label for="">Cài Đặt</label><input type="text" />
                </div>
                <div class="btn_submit">Áp Dụng</div>
              </div>
              <div class="item_air-tem">
                <h2>góc mở</h2>
                <div class="item_air-data">
                  <label for="">Cài Đặt</label
                  ><select name="" id="">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </div>
                <div class="btn_submit">Áp Dụng</div>
              </div>
              <div class="item_air-tem">
                <h2>tốc độ</h2>
                <div class="item_air-data">
                  <label for="">Cài Đặt</label
                  ><select name="" id="">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                  </select>
                </div>
                <div class="btn_submit">Áp Dụng</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script>
    $ = document.querySelector.bind(document);
    $$ = document.querySelectorAll.bind(document);

    const container = $(".operate_container");
    const containerManual = $(".operate_manual");
    const containerAuto = $(".operate_auto");
    const btnExit = $(".btn-exit");
    const bodyManual = $(".operate_manual-body");
    const bodyAuto = $(".operate_auto-body");

    const listBlock = $$(".operate_item-content");
    const listBtnOn = $$(".btn_on");
    const listBtnOff = $$(".btn_off");

    const statusBlock = $$(".operate_item-status");

    listBtnOn.forEach((e, index) => {
      e.onclick = function () {
        this.classList.remove("active_btn");
        listBtnOff[index].classList.add("active_btn");
      };
    });
    listBtnOff.forEach((e, index) => {
      e.onclick = function () {
        this.classList.remove("active_btn");
        listBtnOn[index].classList.add("active_btn");
      };
    });

  </script>
</html>
