<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/setting.css" />
    <title>Lưu Foam</title>
</head>
<body>
    <%- include('header.ejs'); -%>
    <div class="setting_container">

    </div>
</body>
</html>