<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/setting.css" />
    <title>Lưu Foam</title>
  </head>
  <body>
    <script src="js/login.js"></script>
    <%- include('header.ejs'); -%>
    <div class="setting_container">
      <div class="setting_item">
        <h2 class="setting_item-title">Điều Hòa 1</h2>
        <div class="setting_content">
          <h2>Chế Độ</h2>
          <div class="setting_btn">
            <div class="btn_auto">Tự Động</div>
          </div>
        </div>
          <div class="setting_content-item">
            <h2>Nhiệt Độ</h2>
            <div class="setting_input">
              <label for="">Cài Đặt</label><input type="text" />
            </div>
          </div>
          <div class="setting_content-item">
            <h2>Góc Mở</h2>
            <div class="setting_input">
              <label for="">Cài Đặt</label><input type="text" />
            </div>
          </div>
          <div class="setting_content-item">
            <h2>T/Đ Quạt</h2>
            <div class="setting_input">
              <label for="">Cài Đặt</label><input type="text" />
            </div>
          </div>
      </div>
      <div class="setting_item">
        <h2 class="setting_item-title">Điều Hòa 2</h2>
        <div class="setting_content">
          <h2>Chế Độ</h2>
          <div class="setting_btn">
            <div class="btn_auto">Tự Động</div>
          </div>
        </div>
          <div class="setting_content-item">
            <h2>Nhiệt Độ</h2>
            <div class="setting_input">
              <label for="">Cài Đặt</label><input type="text" />
            </div>
          </div>
          <div class="setting_content-item">
            <h2>Góc Mở</h2>
            <div class="setting_input">
              <label for="">Cài Đặt</label><input type="text" />
            </div>
          </div>
          <div class="setting_content-item">
            <h2>T/Đ Quạt</h2>
            <div class="setting_input">
              <label for="">Cài Đặt</label><input type="text" />
            </div>
          </div>
      </div>
      <div class="setting_item">
        <h2 class="setting_item-title">Điều Hòa 3</h2>
        <div class="setting_content">
          <h2>Chế Độ</h2>
          <div class="setting_btn">
            <div class="btn_auto">Tự Động</div>
          </div>
        </div>
          <div class="setting_content-item">
            <h2>Nhiệt Độ</h2>
            <div class="setting_input">
              <label for="">Cài Đặt</label><input type="text" />
            </div>
          </div>
          <div class="setting_content-item">
            <h2>Góc Mở</h2>
            <div class="setting_input">
              <label for="">Cài Đặt</label><input type="text" />
            </div>
          </div>
          <div class="setting_content-item">
            <h2>T/Đ Quạt</h2>
            <div class="setting_input">
              <label for="">Cài Đặt</label><input type="text" />
            </div>
          </div>
      </div>
    </div>
  </body>
</html>
