.export_container {
  width: 100%;
  min-height: calc(100vh - var(--height));
  background-image: linear-gradient(var(--color-main), var(--color-body));
  border-top: 1px solid var(--color-border);
  padding: 0 8px;
}

.export_body {
  width: 100%;
  display: flex;
  height: calc(100vh - var(--height) - 85px);
}

.export_para,
.export_error {
  /* max-height: 500px; */
}

.export_error {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.export_error h2{
  width: 100%;
  text-align: center;
}

.export_para {
  margin-right: 8px;
  flex: 1;
  max-width: 50%;
  height: calc(100vh - 110px);
  background-color: #fff;
  border-radius: 10px;
  padding: 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.container_chart {
  width: 100%;
  height: 100%;
}

#Baocao {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  overflow-x: scroll;
  margin-top: 10px;
}

.baocao-container_select, .baocao-container_error{
  flex: 1;
  display: flex;
  margin-bottom:8px;
  overflow-x: scroll;
  max-width: 100%;
  padding: 8px 0;
}

#Baocao::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
#Baocao::-webkit-scrollbar-thumb {
  background: var(--color-item);
  border-radius: 10px;
}

#Baocao input {
  color: #000;
}
/*//////////////Hiển thị dữ liệu bảng 1 - Start/////////////////*/
#div_table_info,
#div_table_error {
  /*background-color: var(--color-main);*/
  width: 100%;
  text-align: center;
  text-align: center;
  max-width: 100%;
  height: calc(110% / 2);
  min-height: calc(110% / 2);
  max-height: calc(110% / 2);
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;
}

#div_table_info h2,
#div_table_error h2 {
  font-size: 24px;
  padding: 8px 0;
  text-transform: uppercase;
  color: var(--color-main);
}

#div_table_info::-webkit-scrollbar,
#div_Table_01::-webkit-scrollbar,
#div_table_error::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

#div_table_Alarm::-webkit-scrollbar,
.baocao-container_select::-webkit-scrollbar,
.baocao-container_error::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}
#div_table_info::-webkit-scrollbar-thumb,
#div_Table_01::-webkit-scrollbar-thumb,
#div_table_error::-webkit-scrollbar-thumb,
#div_table_Alarm::-webkit-scrollbar-thumb,
.baocao-container_select::-webkit-scrollbar-thumb,
.baocao-container_error::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: 10px;
  
}

.input_item_btn {
  margin: 0 16px;
}

/*Table*/
#table_info,
#table_error {
  border: 1px;
  background-color: lavender;
  width: 100%;
  text-align: center;
}

/* Áp dụng cho các hàng chẵn */
tr:nth-child(even) {
  background-color: #f2f2f2;
  }
    
/* Áp dụng cho các hàng lẻ */
tr:nth-child(odd) {
background-color: #ffffff;
}

#table_info tr,
#table_error tr {
  cursor: pointer;
}
table {
  border-collapse: collapse;
}
#table_info tr:hover {
  background-color: #ddd;
}
#table_error tr:hover {
  background-color: #ddd;
}
#table_info thead th {
  position: sticky;
  top: 0;
  min-width: 220px;
}
#table_error thead th {
  position: sticky;
  top: 0;
}

/* Just common table stuff. Really. */
#table_info {
  border-collapse: collapse;
  width: 100%;
}
#table_info th,
td {
  padding: 8px 2px;
}
#table_info th {
  background: #183853;
  color: #2bb892;
  width: 70px;
  border: 1px solid #a3855f;
}
#table_info td {
  background: var(--color-item);
  color: #4b657b;
  width: 70px;
  border: 1px solid #a3855f;
  /* min-width: 200px; */
}

#table_error {
  border-collapse: collapse;
  width: 100%;
}
#table_error th,
td {
  padding: 8px 2px;
}
#table_error th {
  background: #183853;
  color: #2bb892;
  width: 70px;
  border: 1px solid #a3855f;
}
#table_error td {
  background: #03243f;
  color: #4b657b;
  width: 70px;
  border: 1px solid #a3855f;
  min-width: 200px;
}

/*Lable tìm kiếm từ*/
#lb_Search_Start,#lb_AL_Search_Start {
  color: #3de36f;
  font-size: 24px;
  font-weight: normal;
  left: 48%;
  top: 5%;
  min-width: 12%;
  margin-right: 10px;
}
/*Chọn ngày tháng bắt đầu*/
#dtpk_Search_Start {
  text-align: left;
  left: 50%;
  top: 4%;
  padding: 15px;
  border: 1px solid rgb(173, 168, 168);
  border-radius: 10px;
  height: 20px;
}

/*Lable tìm kiếm đến*/
#lb_Search_End,#lb_AL_Search_End{
  color: #d96464;
  font-size: 24px;
  font-weight: normal;
  min-width: 12%;
  margin: 0 10px;
}

/*Chọn ngày tháng kết thúc*/
#dtpk_Search_End {
  text-align: left;
  padding: 15px;
  border: 1px solid rgb(173, 168, 168);
  border-radius: 10px;
  height: 20px;
}

#dtpk_AL_Search_Start,#dtpk_AL_Search_End{
  padding: 15px;
  border: 1px solid rgb(173, 168, 168);
  border-radius: 10px;
  height: 20px;
}

#lb_AL_Search_End{
  margin-left: 16px;
}

.input_item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
}

/*Nút tìm kiếm cảnh báo*/
/*Nút tìm kiếm*/
/*Nút xuất Excel*/
#btt_AL_Search,
#btt_Search,
#btt_Excel {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
  touch-action: manipulation;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  width: 100px;

}
#btt_AL_Search:hover,
#btt_Search:hover,
#btt_Excel:hover {
  background-color: #0056b3;
}
#btt_AL_Search:active,
#btt_Search:active,
#btt_Excel:active {
  transform: scale(0.85); /* Thu nhỏ nút khi được nhấn */
}

.change_btn {
  width: 50px;
  height: 50px;
  position: relative;
  margin-left: 16px;
}

.change_btn::after {
  content: "\f074";
  position: absolute;
  font-size: 32px;
  font-family: "fontawesome";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.change_btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.change_btn.change {
  transform: rotate(180deg);
}

/*//////////////Hiển thị dữ liệu bảng 1 - Start/////////////////*/
#div_Table_01 {
  /* position: fixed; */
  /* width: 90%; */
   height: calc(100% - 160px); 
  /* border-radius: 16px; */ /*bo góc*/
  overflow-x: scroll;
}

#div_table_Alarm{
  /*border: 1px solid #a3855f;*/
  overflow-y: scroll;
  max-height: calc(100% - 36px - 90px);
}

.export_para h2 {
  width: 100%;
  text-align: center;
  font-size: 24px;
  padding: 8px 0;
  color: var(--color-main);
}
/*Table*/
#table_01 {
  /* position: absolute; */
  width: 100%;
}
#table_01 tr {
  cursor: pointer;
}
#table_01 tr:hover {
  background-color: #ddd;
}
#table_01 {
  overflow: auto;
}
#table_01 thead th {
  position: sticky;
  top: 0;
  min-width: 100px;
}
#table_01 .th_time{
  min-width: 200px; 
}
/* Just common table stuff. Really. */
#table_01 {
  border-collapse: collapse;
  width: 100%;
}
#table_01 th,
td {
  padding: 8px 16px;
  text-align: center;
}
#table_01 th {
  background: #53baf9;
}
/*//////////////Hiển thị dữ liệu bảng 1 - end/////////////////*/


/*Table*/
#table_Alarm {
  width:100%;
  background-color: rgba(255, 30, 0, 0.5);
  color: rgb(0, 0, 0); 
}
#table_Alarm tr{
  cursor: pointer;
}

/* Áp dụng cho các hàng chẵn */
tr:nth-child(even) {
  background-color: #f2f2f2;
  }
    
/* Áp dụng cho các hàng lẻ */
tr:nth-child(odd) {
background-color: #ffffff;
}

#table_Alarm tr:hover{background-color: rgba(250, 8, 8, 0.363);}
#table_Alarm   { overflow: auto; }
#table_Alarm thead th { position: sticky; top: 0; }
/* Just common table stuff. Really. */
#table_Alarm  { border-collapse: collapse; width: 100%; }
#table_Alarm th, td { padding: 8px 16px; }
#table_Alarm th     {background:#53baf9;}
/*//////////////Hiển thị dữ liệu bảng 1 - end/////////////////*/


#btt_SearchS1,#btt_SearchS2,#btt_SearchS3,#btt_SearchS4{
  border: none;
  cursor: pointer;
  font-size: 17px; 
  display: inline-block;
  text-align: center;
  color: #fff;
  min-width: 40px;
  max-width: 40px;
  border: 1px solid #fff;
  height: 38px;
  background-color: #0d6efd;
}

#btt_SearchS1 i, #btt_SearchS3 i{
  color: #fff;
}

#btt_SearchS4{
  border-radius: 8px;
}
#btt_SearchS1,#btt_SearchS3{
  min-width: 50px;
}
#btt_SearchS1{
  border-radius: 8px 0 0 8px;
}
#btt_SearchS3{
  border-radius: 0 8px 8px 0;
}
#loadingImage{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px; height: 40px;
  z-index: 9999;
}

/* Định nghĩa animation */
@keyframes spin {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}
/* Áp dụng animation cho phần tử với id là "loadingImage" */
#loadingImage {
  animation: spin 2s linear infinite; /* Quay trong vòng 2 giây với tốc độ đều */
}

#btt_SearchS3:focus{
  outline: #fff;
}

#btt_SearchS1:disabled,#btt_SearchS3:disabled{
  background-color: #dee2e6;
  cursor: initial;
}

.block_btn-export{
  display: flex;
  flex: 1;
  justify-content: flex-end;
}