.home_container{
    width: 100%;
    height: calc(100vh - var(--height));
    background-color: var(--color-main);
    display: flex;
    padding:8px;
    border-top:1px solid var(--color-border) ;
}
.home_system{
    width: 30%;
    background-color: var(--color-item);
    margin-right: 8px;
    border-radius: 10px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
}

.home_system::-webkit-scrollbar{
    width: 8px;
}
.home_system::-webkit-scrollbar-thumb {
    background: var(--color-border);
    border-radius: 10px;
}

.system_item{
    width: 100%;
    display: flex;
    padding: 8px 0 8px 8px;
}

.system_item-air{
    width: 100%;
    height: 100%;
    background-color: var(--color-body);
    border-radius: 10px;
    border: 1px solid var(--color-border);
}

.item_air-title{
    display: flex;
    justify-content: space-evenly;
    margin: 4px 0;
}

.item_air-status{
    display: flex;
    justify-content: flex-start;
    margin-left: 8px;
    margin-bottom: 8px;
    align-items: center;
    flex: 1;
}

.item_air-status p{
    background: var(--color-border);
    padding: 4px;
    border-radius: 4px;
}

.item_air-status h2{
    min-width: 125px;
    background-color: var(--color-item);
    border: 1px solid var(--color-border);
    border-radius: 10px;
    margin-right: 20px;
    padding: 4px;
}

.item_air-tem h2{
    min-width: 225px;
    background-color: var(--color-item);
    border-radius: 10px;
    padding: 4px;
}

.item_air-tem{
    display: flex;
    margin: 0px 0 4px 8px;
    align-items: center;
    flex-wrap: wrap;
}

.item_air-tem input,.item_air-room input{
    width: 76px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--color-item);
    border: 1px solid var(--color-border);
}
.home_chart{
    flex: 1;
    max-height: 100%;
    background-color: var(--color-item);
    margin-left: 8px;
    display: flex;
    padding: 8px;
    flex-direction: column;
    border-radius: 10px;
}

.home_chart-tem{
    width: 100%;
    height: 50%;
    background-color: var(--color-body);
    border: 1px solid var(--color-border);
    margin-bottom: 8px;
    border-radius: 10px;
    overflow-y: scroll;
}

.home_chart-tem::-webkit-scrollbar{
    width: 8px;
}
.home_chart-tem::-webkit-scrollbar-thumb {
    background: var(--color-border);
    border-radius: 10px;
}

.home_chart h2{
    text-align: center;
    margin-top: 8px;
}

.home_chart-room{
    width: 100%;
    height: 50%;
    background-color: var(--color-body);
    border: 1px solid var(--color-border);
    border-radius: 10px;
    overflow-y: scroll;
}

.home_chart-room h2{
    margin-top: 8px;
    text-transform: uppercase;
}

.home_chart-room::-webkit-scrollbar{
    width: 8px;
}
.home_chart-room::-webkit-scrollbar-thumb {
    background: var(--color-border);
    border-radius: 10px;
}

.home_chart-room h2{
    text-align: center;
}

.footer{
    width: 100%;
    height: calc(var(--height) - 2px);
    background-color: var(--color-main);
}

.footer h2{
    text-align: center;
    color: var(--color-main);
}

.item_air-data{
    flex: 1;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.item_air-data label{
    margin-right: 4px;
    display: inline-block;
    font-size: 20px;
    min-width: 72.5px;
}

#iframe_no_work{
    display: flex;
    margin: auto;
}

.item_air-room{
    display: flex;
}

.item_air-room h2{
    min-width: 150px;
}

.item_data-room{
    display: flex;
    flex: 1;
    margin-bottom: 16px;
    margin-left: 8px;
}

.item_data-room:last-child{
    justify-content: center;
}
 .item_air-room input {
    min-width: 100px;
 }

 .block_data-item{
    display: flex;
    flex-direction: column;
 }