.home_container {
  width: 100%;
  background-color: var(--color-item); 
  display: flex;
  padding: 8px 8px 0 8px;
  border-top: 1px solid var(--color-border);
  flex-wrap: wrap;
  height: var(100vh - var(--height));
}
.home_system {
  width: 100%;
  margin-right: 8px;
  border-radius: 10px;
  display: flex;
  margin-bottom: 16px;
  height: 40%;
}

.home_system::-webkit-scrollbar {
  width: 8px;
  display: inline-block;
}
.home_system::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: 10px;
  height: 10%;
}

.system_item {
  width: calc(100% / 3 - 8px);
  display: flex;
  order: 3;
  margin-right: 8px;
}


#tem{
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin: 8px 8px 8px 0;
  overflow: hidden;
  border-radius: 10px;
  min-height: 400px;
  max-height: 400px;
  flex: 1;
}

.home_block-item .system_item:not(:last-child){
  margin-right: 8px;
}

.system_item-air {
  width: 100%;
  background-color: var(--color-body);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 8px;
}

.container_chart{
  width: 66.5%;
  display: flex;
  order: 2;
}

.system_item-air_block{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.row_status {
  background-color: var(--color-body);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: none;
  width: calc(100% / 3);
  background-color: #fff;
  order: 1;
}

.item_air-title {
  display: flex;
  justify-content: space-evenly;
  margin: 4px 0;
  width: 100%;
}

.item_air-status {
  display: flex;
  justify-content: space-around;
  margin-left: 8px;
  margin-bottom: 8px;
  align-items: center;
  /* flex: 1; */
  min-width: 215px;
}

.item_air-status p {
  background: var(--color-border);
  padding: 4px;
  border-radius: 4px;
}

.item_air-status h2 {
  min-width: 125px !important;
  background-color: var(--color-body);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  margin-right: 17px;
  padding: 4px;
}

.item_air-tem h2 {
  min-width: 228px;
  background-color: var(--color-body);
  border-radius: 10px;
  padding: 4px;
}

.title_mode {
  min-width: 185px !important;
}

.item_air-tem {
  display: flex;
  margin: 0px 0 0px 8px;
  align-items: center;
}

.item_air-status-block {
  display: flex;
  justify-content: space-around;
  margin: 0px 0 0px 8px;
  align-items: center;
  /* display: none; */
}

.item_air-tem input,
.item_air-room input {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--color-body);
  border: 1px solid var(--color-border);
  text-align: center;
  font-size: 24px;
}
.home_chart {
  flex: 1;
  max-height: 100%;
  background-color: var(--color-item);
  margin-left: 8px;
  display: flex;
  padding: 8px;
  flex-direction: column;
  border-radius: 10px;
  overflow-y: scroll;
}

.home_chart::-webkit-scrollbar {
  width: 8px;
  display: inline-block;
}
.home_chart::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: 10px;
}

.home_chart-tem {
  background-color: var(--color-body);
  margin: 8px 0;
  border-radius: 10px;
  overflow-y: scroll;
  flex: 1;
}

.home_chart-tem::-webkit-scrollbar {
  width: 6px;
}
.home_chart-tem::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: 10px;
}

.home_chart h2 {
  text-align: center;
  margin-top: 8px;
}

.home_chart-room {
  max-width: 100%;
  background-color: var(--color-body);
  border: 1px solid var(--color-border);
  overflow-y: scroll;
  height: calc(100% / 2);
  min-height:calc(100% / 2);
  max-height: calc(100% / 2);
  margin-top: 8px;
}

.home_chart-room h2 {
  margin-top: 8px;
  text-transform: uppercase;
}

.home_chart-room::-webkit-scrollbar {
  width: 8px;
}
.home_chart-room::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: 10px;
}

.home_chart-room h2 {
  text-align: center;
}

.footer {
  width: 100%;
  height: calc(var(--height) - 2px);
  background-color: var(--color-main);
}

.footer h2 {
  text-align: center;
  color: var(--color-main);
}

.item_air-data {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.item_air-data label {
  margin-right: 0px;
  display: inline-block;
  font-size: 20px;
  min-width: 100px;
  text-align: center;
}

#iframe_no_work {
  display: flex;
  margin: auto;
}

.item_air-room {
  border-radius: 10px;
  flex: 1;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin: 8px 8px 8px 0;
  background-color: #fff;
}
.item_air-room h2 {
  display: flex;
  align-items: center;
}

.item_data-room {
  display: flex;
  flex: 1;
  margin-left: 8px;
  margin-bottom: 4px;
  justify-content: flex-start;
  align-items: center;
}

.item_data-room h2 {
  font-size: 20px;
  /* min-width: 134px; */
}

.item_data-room.item_data-status {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.room_container {
  display: flex;
  height: 100%;
  align-items: center;
}

.room_container.block_status {
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.item_air-room input {
  max-width: 50px;
}

.den_ml {
  width: 300px;
  height: 200px;
  margin-left: 8px;
}
.den_cd {
  width: 55px;
  height: 55px;
}
.block_data-item {
  display: flex;
  flex-direction: column;
}

.btn_scroll {
  position: fixed;
  top: 56%;
  right: 8px;
  flex-direction: column;
  display: none;
}

.scroll_top,
.scroll_bottom {
  width: 40px;
  height: 40px;
  background-color: rgba(43, 184, 146, 0.7);
  position: relative;
  margin-bottom: 8px;
  border-radius: 50%;
  opacity: 0.5;
}

.scroll_top::before,
.scroll_bottom::before {
  font-family: "fontawesome";
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.scroll_top::before {
  content: "\f102";
}
.scroll_bottom::before {
  content: "\f103";
}

.scroll_top.btn_active,
.scroll_bottom.btn_active {
  opacity: 1;
}

.data_room-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.home_block-item{
  display: flex;
  /* flex: 1; */
}