.container_loadding{
 display: none; 
 align-items: center;
 justify-content: center;  
 height: 100vh;
 position: fixed;
 width: 100%;
 z-index: 999;
 top: 0;
 left: 0;
 right: 0;
 background-color: #fff;
}

.container_loadding .loadding{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-top:5px solid var(--color-border) ;
    border-bottom:5px solid var(--color-border) ;
    animation: loadding 4s linear infinite;
}

@keyframes loadding {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}