.login_container{
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-body);
    display: flex
}

.login_body{
    width: 40%;
    background-color: var(--color-item);
    margin: auto;
    border-radius: 10px;
    border: 1px solid var(--color-border);
    padding: 16px;
    text-align: center;
}

.login_body h2{
    margin: 16px 0;
    text-align: center;
    color: var(--color-skyblue);
    text-transform: uppercase;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_block{
    padding: 16px;
    height: 80%;
}

.login_btn{
    background-color: var(--color-main);
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
}

.btn_home{
    width: 50px;
    height: 50px;
    display: block;
    position: relative;
}

.btn_home:hover{
    opacity: 0.8;
}

.btn_home::before{
    content: '\f015';
    position: absolute;
    font-family: 'fontawesome';
    font-size: 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.login_user{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_user label {
    font-size: 32px;
    margin-right: 20px;
    min-width: 150px;
    display: inline-block;
}

.login_user input{
    width: 50%;
    height: 30px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    color: #000;
}

.login_password{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_password label {
    font-size: 32px;
    margin-right: 20px;
    min-width: 150px;
    display: inline-block;
}

.login_password input{
    width: 50%;
    height: 30px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    color: #000;
}

.btn_submit{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#submitBtn{
    width: 25%;
    height: 30px;
    background-color: var(--color-skyblue);
    text-align: center;
    margin-top:16px;
    border-radius: 10px;
    text-transform: uppercase;
}

#submitBtn:hover{
    opacity: 0.8;
    cursor: pointer;
}

.login_body img{
    width: 30%;
}