.operate_container {
  width: 100%;
  min-height: calc(100vh - var(--height));
  background-image: linear-gradient( var(--color-body),var(--color-main));
  /*border: 1px solid var(--color-border);*/
}

.operate_manual,
.operate_auto {
  width: 100%;
  display: flex;
  justify-content: center;
}

.operate_auto.change_layout,
.operate_manual.change_layout {
  display: none;
}

.operate_manual-btn,
.operate_auto-btn {
  width: 90%;
  background-color: var(--color-item);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 40px;
}

.operate_manual-btn:hover,
.operate_auto-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn-exit {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 3;
}

.btn-exit::after {
  content: "\f079";
  position: absolute;
  font-size: 32px;
  font-family: "fontawesome";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-exit:hover {
  cursor: pointer;
  opacity: 0.8;
}

.operate_manual-body {
  height: 100%;
  flex-direction: column;
  min-width: 35%;
}

.operate_auto-body {
  height: 100%;
  flex-direction: column;
  width: 100%;
}

.operate_manual-body h2,
.operate_auto-body h2 {
  text-align: center;
  margin: 16px 0;
  font-size: 30px;
  text-transform: uppercase;
}

.operate_manual-item {
  background-color: var(--color-body);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  margin-bottom: 8px;
  display: flex;
  padding: 8px;
  /* height: calc(100% / 3); */
}

.item_air-data {
  display: flex;
  align-items: center;
}

.item_air-data label {
  margin-right: 8px;
  display: inline-block;
  font-size: 20px;
  min-width: 72.5px;
}

.item_air-tem h2 {
  min-width: 200px;
  background-color: var(--color-item);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  color: #000;
}

.item_air-tem {
  display: flex;
  margin: 0 0 8px 8px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.item_air-tem input,
select {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--color-item);
  border: 1px solid var(--color-border);
}

.operate_item-content {
  flex: 1;
  display: flex;
}

.operate_content-auto {
  width: 30%;
}

.operate_item-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  margin-right: 16px;
}

.operate_item-status {
  width: 30%;
}

.operate_status-btn {
  display: flex;
  width: 100%;
  height: 50%;
  align-items: center;
}

/*Nút nhấn sửa-lưu và nút on chế độ manu-auto*/
/*.btn_off,*/
/*.btn_start,*/
/*.btn_stop,*/
.btn_on,
.btt_sua_luu,.setting_power-btn {
  position: relative;
  min-width: 130px;
  height: 50px;   width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background: transparent;
  text-transform: uppercase;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
  touch-action: manipulation;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  /*color: var(--color-black_alpha);*/
  /*transition: 0.3s all;*/
  /*transform: scale(1);*/
  /*font-family: 'Roboto';*/
  /*background-color: #00ff05;*/
}


/*.btn_start,*/
.btn_on {
  margin-right: 8px;
  margin-left: 36px;
  /*background-color: #0e3551;*/
}

/*.btn_off,
.btn_stop {
  background-color: var(--color-red);
  border: 1px solid var(--color-main);
}*/


/*.btn_off:hover,
.btn_start:hover,
.btn_stop:hover {
  background-color: #0056b3;
}*/



/*.btn_off.active_btn,
.btn_start.active_btn,
.btn_stop.active_btn,*/
.btn_on.active_btn {
  opacity: 0.5;
  border: 1px solid var(--color-main);
}

/*.btn_submit {
  width: 55%;
  background-color: var(--color-skyblue);
  border-radius: 10px;
  border: 1px solid var(--color-border);
  margin: 8px 0;
  text-align: center;
  padding: 8px;
}*/

/*.btn_submit:hover {
  cursor: pointer;
  opacity: 0.8;
}*/

.operate_auto-value {
  flex: 1;
  margin-left: 16px;
}

.auto_value {
  display: flex;
  margin: 0 0 8px 8px;
}

.auto_value-item {
  width: 100%;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}

.auto_value-item label {
  margin-right: 8px;
  display: inline-block;
  font-size: 20px;
  min-width: 72.5px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.auto_value-item input,
select {
  height: 55px;
  border-radius: 5px;
  background-color: var(--color-body);
  border: 2px solid var(--color-border);
}

.auto_value-item input:focus,
select:focus {
  outline: none !important;
}

.operate_row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #a2c0eb;
  padding: 32px;
  position: relative;
}
.block_pesido{
  position: absolute;
  background-color: #a2c0eb;
  width: 192px;
  height: 100px;
  top: -80px;
  right: 0;
  border-radius: 53px 0 0 0;
  /* z-index: 1; */
}


.block_pesido::after{
  content: '';
  border: 70px solid;
  border-color:  transparent  transparent #a2c0eb  transparent;
  position: absolute;
  top: -50%;
  right: 111px;
}

.block_pesido::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #a2c0eb;
  bottom: 1px;
  left: -53px;
  z-index: 3; 
  }

.operate_container-title {
  width: 100%;
  margin: 8px 0;
  font-size: 24px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .operate_container-title h2 {
  /color: #fff; 
} */

.btt_sua_luu {
  position: absolute;
  align-items: center;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  height: 50px;
  margin-left: 8px;
  z-index: 2;
  /* width: 100%; */
  /* margin-left: 20px; */
}

/*Nút sửa lưu auto-manual*/
#btt_Auto_Save,#btt_Main_Save{
  margin-right: 20px;
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
  touch-action: manipulation;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  width: 120px;
}
#btt_Auto_Edit,#btt_Main_Edit{
  margin-right: 20px;
  color: #000;
  background-color: #FFD311;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: transform 0.2s ease;
  touch-action: manipulation;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  width: 120px
}

.start_stop-btn-start {
  display: flex;
  /* width: 100%; */
}

.start_stop-btn-save {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  flex: 1;
  position: relative;
  width: 6%;
  margin-right: 20px;
  order: 1;
}

/*.den_cd {
  width: 50px;
  height: 50px;
  margin-left: 8px;
}*/
.air_con {
  width: 45px;
  height: 45px;
}

.setting_on,
.setting_off {
  flex: 1;
}

.setting_off {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

/*Nút nhấn on-off máy lạnh*/
.setting_on-btn {
	padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
  touch-action: manipulation;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  width: 120px;
}

/*Nút nhấn cấp nguồn và ngắt nguồn*/

.block_btn-power{
  position: relative;
  display: flex;
  width: 100px;
  height: 36px;
  margin: 0 30px;
}
#change_off_btt_power{
  /*z-index: 1;*/
  position: absolute;
  left: 0;
  color: black;
}
#change_on_btt_power{
 /* z-index: 0;*/
  position: absolute;
  left: 0;
  color: black;
}

/*Active và hover nút nhấn*/
.btn_on:hover,
.setting_on-btn:hover,
.btt_sua_luu:hover,
.setting_power-btn:hover {
  background-color: #0056b3;
}

.btn_on:active,
.setting_on-btn:active,
.btt_sua_luu:active,
.setting_power-btn:active {
	transform: scale(0.85); /* Thu nhỏ nút khi được nhấn */
}


