.operate_container {
  width: 100%;
  min-height: calc(100vh - var(--height));
  background-color: var(--color-main);
  border: 1px solid var(--color-border);
}

.operate_manual,
.operate_auto {
  width: 100%;
  display: flex;
  justify-content: center;
}

.operate_auto.change_layout,
.operate_manual.change_layout{
    display: none;
}

.operate_manual-btn,
.operate_auto-btn {
  width: 90%;
  background-color: var(--color-item);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 40px;
}

.operate_manual-btn:hover,
.operate_auto-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn-exit {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 3;
}

.btn-exit::after {
  content: "\f079";
  position: absolute;
  font-size: 32px;
  font-family: "fontawesome";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-exit:hover {
  cursor: pointer;
  opacity: 0.8;
}

.operate_manual-body
 {
  height: 100%;
  flex-direction: column;
  min-width: 35%;
}

.operate_auto-body{
    height: 100%;
    flex-direction: column;
    width: 100%;
}

.operate_manual-body h2,
.operate_auto-body h2 {
  text-align: center;
  margin: 16px 0;
  font-size: 30px;
  text-transform: uppercase;
}

.operate_manual-item {
  background-color: var(--color-body);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  margin-bottom: 8px;
  display: flex;
  padding: 8px;
  /* height: calc(100% / 3); */
}

.item_air-data {
  display: flex;
  align-items: center;
}

.item_air-data label {
  margin-right: 8px;
  display: inline-block;
  font-size: 20px;
  min-width: 72.5px;
}

.item_air-tem h2 {
  min-width: 200px;
  background-color: var(--color-item);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  color: #000;
}

.item_air-tem {
  display: flex;
  margin: 0 0 8px 8px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.item_air-tem input,
select {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--color-item);
  border: 1px solid var(--color-border);
}

.operate_item-content {
  flex: 1;
  display: flex;
}

.operate_content-auto{
    width: 30%;
}

.operate_item-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  margin-right: 16px;
}

.operate_item-status {
  width: 30%;
}

.operate_status-btn {
  display: flex;
  width: 100%;
  height: 50%;
  align-items: center;
}
.btn_on,
.btn_off,
.btn_start,
.btn_stop {
  width: 50%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 32px;
  text-transform: uppercase;
}
.btn_on,.btn_start {
  background-color: var(--color-green);
  margin-right: 8px;
  border: 1px solid var(--color-main);
}

.btn_off,.btn_stop {
  background-color: var(--color-red);
  border: 1px solid var(--color-main);
}

.btn_on:hover,
.btn_off:hover,
.btn_start:hover,
.btn_stop:hover{
    cursor: pointer;
    opacity: 0.8;
}

.btn_on.active_btn,
.btn_off.active_btn,
.btn_start.active_btn,
.btn_stop.active_btn{
    opacity: 0.5;
    border: 1px solid var(--color-main);
}



.btn_submit{
    width: 55%;
    background-color: var(--color-skyblue);
    border-radius: 10px;
    border: 1px solid var(--color-border);
    margin: 8px 0;
    text-align: center;
    padding: 8px;
}

.btn_submit:hover{
    cursor: pointer;
    opacity: 0.8;
}

.operate_auto-value{
    flex: 1;
    margin-left: 16px;
}

.auto_value{
    display: flex;
    margin: 0 0 8px 8px;
}

.auto_value-item{
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}

.auto_value-item label {
    margin-right: 8px;
    display: inline-block;
    font-size: 20px;
    min-width: 72.5px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.auto_value-item input, select{
    height: 60px;
    border-radius: 5px;
    background-color: var(--color-item);
    border: 4px solid var(--color-border);
}

.auto_value-item input:focus, select:focus{
  outline: none !important;
}

.operate_row{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.operate_container-title{
  width: 100%;
  text-align: center;
  margin: 16px 0;
  font-size: 32px;
  text-transform: uppercase;
}

.operate_container-title h2{
  color: #fff;
}

.btt_sua_luu{
    position: absolute;
    border-radius: 20px;
    cursor: pointer;
    font-size: 17px;
    display: inline-block;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(0deg, rgb(84, 91, 106), rgb(230, 225, 183));
    color: rgb(0, 0, 0);
    font-weight: bold;
    width: 120px;
    height: 50px;
}
.btt_sua_luu:hover{
  background-image: linear-gradient(180deg, rgb(45, 63, 106), rgb(228, 216, 110));
  color: rgb(255, 255, 255);
}
.btt_sua_luu:active{
  background-image: linear-gradient(0deg, rgb(45, 63, 106), rgb(228, 216, 110));
}

.den_cd{
  width: 55px;
  height: 55px;
}
