@media (max-width: 795px) {
  .home_container {
    flex-wrap: wrap;
  }
  .home_system {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    border-radius: 0;
    margin: 0;
    overflow-y: unset;
  }
  .system_item {
    width: 100%;
  }
  .home_chart {
    width: 100%;
    margin: 0;
    border-radius: 0;
    padding: 8px 0 0 0;
    max-height: 50%;
    overflow-y: unset;
  }
  .header_title {
    display: none;
  }
  .header_menu {
    display: none;
  }
  .header_container .header_logo {
    width: 60%;
  }
  .header_container .menu_mobile {
    display: flex;
  }
  .header_container {
    position: fixed;
    top: 0;
    z-index: 10;
  }
  .home_container {
    margin-top: var(--height);
    padding: 0;
  }
  .system_item {
    padding: 0;
    margin-bottom: 8px;
  }
  .home_system {
    padding: 0;
  }
  .item_air-tem h2 {
    border: none;
    background-color: transparent;
    margin-bottom: 8px;
  }
  .item_air-data {
    flex: none;
    justify-content: space-around;
    width: 100%;
  }
  .export_container {
    margin-top: var(--height);
  }
  .setting_container {
    margin-top: var(--height);
  }
  .login_body {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .login_user {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .login_user input {
    width: 100%;
  }
  .login_password {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .login_password input {
    width: 100%;
  }
  #submitBtn {
    width: 100%;
  }
  .energy_container {
    height: auto;
    flex-wrap: wrap;
    max-height: none;
    margin-top: var(--height);
  }
  .energy_watch {
    width: 100%;
    margin-right: 0;
  }
  .energy_chart {
    width: 100%;
  }
  .item_air-data label {
    min-width: none;
  }
  .system_item-air {
    border-radius: 0;
  }
  .home_chart-tem,
  .home_chart-room,
  .home_chart {
    border-radius: 0px;
  }
  .item_air-tem input {
    margin: 0;
  }


  /* mobile auto */
  .operate_auto-value{
    flex-wrap:wrap ;
    display: flex;
  } 

  .operate_manual-item{
    flex-wrap: wrap;
  }
  .auto_value-item{
    flex-wrap: wrap;
    justify-content: unset;
  }
  .operate_content-auto{
    width: 100%;
  }

  .operate_item-title{
    width: 100%;
  }
  .auto_value{
    flex-wrap: wrap;
  }

  .auto_value-item label{
    min-width: 100px;
  }
  .setting_input label{
    margin-right:4px ;
  }
  .setting_container-title {
    font-size: 22px;
  }

  .setting_content-item h2{
    font-size: 32px;
  }
  .setting_content-item{
    display: unset;
  }

  /*end mobile auto */

  /* mobile manual  */
  .operate_container{
    margin-top: var(--height);
  }

  .operate_row{
    flex-wrap: wrap;
  }

  .operate_item-status{
    width: 100%;
  }

  .operate_item-content{
    flex-wrap: wrap;
  }

  .btn_submit{
    width: unset;
    margin: 8px 4px;
    padding: 5px;
  }
  /* end mobile manual  */
  .login_body h2{
    font-size: 32px;
  }
  .home_container{
    /* height: 100%; */
  }

  .item_air-room{
    display: unset;
  }
  .item_data-room{
    justify-content: flex-start;
  }
  .item_air-room h2{
    min-width: 150px;
    display: inline-block;
    text-align: center;
  }

  .chart-item{
    min-height: 300px;
  }
  .item_air-room  {
    margin: 8px 0 0 0;
    border-radius: 0;
  }
  .item_air-room + .item_air-room{
    margin: 8px 0 0 0 ;
  }
  .energy_chart .chart_item {
    min-height: calc(100% / 3 - 8px);
    height: unset;
  }
  .operate_container-title{
    flex-wrap: wrap;
  }
}

@media (min-width: 795.5px) and (max-width: 1310px) {
  .home_system {
    width: 100%;
    display: flex;
    border-radius: 0;
    margin: 0;
    flex-wrap: wrap;
  }
  .system_item {
    width: 50%;
    padding: 4px 0 0 8px;
  }
  .home_chart {
    width: 50%;
    margin: 0;
    border-radius: 0;
    max-height: 100%;
  }
  .header_title {
    display: none;
  }
  .header_container .header_logo {
    width: 25%;
  }
  .item_air-tem h2 {
    border: none;
  }

  .setting_item{
    width: 55%;
    margin: 0 8px 8px 8px;
  }
  .setting_item:first-child{
    margin-top: 8px;
  } 

  .header_menu ul li{
    font-size: 15px;
  }
  #submitBtn{
    width: 70%;
  }
  .login_user label,
  .login_password label{
    min-width: 100px;
    font-size: 20px;
  }
  .home_container{
    max-height: unset;
    flex-wrap: wrap;
  }
  .item_air-room{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .item_air-room + .item_air-room{
    display: flex;
    align-items: center;
  }
  .item_air-room h2{
    min-width: 150px;
    display: flex;
    justify-content: center;
  }
  .item_air-room +.item_air-room {
    margin: 8px 0 0 0;
  }
  .item_data-room.item_data-status{
    justify-content: center;
  }
  .item_air-tem input,.item_air-room input{
    width: 50px;
  }
  .item_air-tem{
    margin: 0;
  }
  .item_air-status{
    margin: 0 0 0 4px;
  }
  .item_air-title{
    margin: 0;
  }
  .btn_scroll{
    display: block;
  }
  .energy_container{
    max-height: calc(100vh - var(--height));
  }
  .block_scroll_num{
    display: flex;
  }
  .start_stop-btn-start{
    flex: 1;
  }
  .start_stop-btn-save{
    justify-content: flex-end;
  }
  .block_start_stop{
    position: sticky;
    top: -5px;
    background-color: var(--color-main);
    z-index: 1;
  }
  .setting_off{
    justify-content: center;
    margin-right: -10px;
  }
}

@media (min-width: 1113px) and (max-width: 1615px) {
  .home_container {
    flex-wrap: wrap;
  }
  .home_system {
    width: 100%;
    display: flex;
    border-radius: 0;
    margin: 0;
    flex-wrap: nowrap;
  }
  .system_item {
    width: 50%;
  }
  .home_chart {
    width: 50%;
    margin: 0;
    border-radius: 0;
  }
  .header_title {
    width: 30%;
  }

}

@media (min-width: 1790px) {
}
