@media (max-width: 795px) {
  .home_container {
    flex-wrap: wrap;
  }
  .setting_item{
    flex: 1;
    padding: 0;
  }
  .setting_item.setting_input-header_res{
    display: flex;
    justify-content: flex-end;
  }
  .block_btn-power.block_btn-powerRS{
    margin: 0;
  }
  .setting_input-header_res{
    flex: 1 !important;
  }
  .setting_input.setting_input-mt{
    flex-direction: column-reverse;
  }
.block_btn-power.block_btn-powerrs{
  margin: 0 60px;
}
.setting_input-block-temRS{
  justify-content: flex-end !important;
}
.lable_tem-input.setting_input-block-tem-respon3{
  margin: 0 !important;
}
  #lable_tem-input-low,#lable_tem-input-max,#lable_title-time-update{
    margin: 0;
  }
  .home_system {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    border-radius: 0;
    margin: 0;
    overflow-y: unset;
  }
  .system_item {
    width: 100%;
  }
  .home_chart {
    width: 100%;
    margin: 0;
    border-radius: 0;
    padding: 8px 0 0 0;
    max-height: 50%;
    overflow-y: unset;
  }
  .header_title {
    display: none;
  }
  .header_menu {
    display: none;
  }
  .header_container .header_logo {
    width: 60%;
  }
  .header_container .menu_mobile {
    display: flex;
  }
  .header_container {
    position: fixed;
    top: 0;
    z-index: 10;
  }
  .home_container {
    margin-top: var(--height);
    padding: 0;
  }
  .system_item {
    padding: 0;
    margin-bottom: 8px;
  }
  .home_system {
    padding: 0;
  }
  .item_air-tem h2 {
    border: none;
    background-color: transparent;
    margin-bottom: 8px;
  }
  .item_air-data {
    flex: none;
    justify-content: space-around;
    width: 100%;
  }
  .export_container {
    margin-top: var(--height);
  }
  .setting_container {
    margin-top: var(--height);
  }
  .login_body {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .login_user {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .login_user input {
    width: 100%;
  }
  .login_password {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .login_password input {
    width: 100%;
  }
  #submitBtn {
    width: 100%;
  }
  .energy_container {
    height: auto;
    flex-wrap: wrap;
    max-height: none;
    margin-top: var(--height);
  }
  .energy_watch {
    width: 100%;
    margin-right: 0;
  }
  .energy_chart {
    width: 100%;
  }
  .item_air-data label {
    /* min-width: 60px; */
    margin-right: 4px;
  }
  .system_item-air {
    border-radius: 0;
  }
  .home_chart-tem,
  .home_chart-room,
  .home_chart {
    border-radius: 0px;
  }
  .item_air-tem input {
    margin: 0;
    /* width: 60px; */
    /* margin-right: 4px; */
  }

  /* mobile auto */
  .operate_auto-value {
    flex-wrap: wrap;
    display: flex;
  }

  .operate_manual-item {
    flex-wrap: wrap;
  }
  .auto_value-item {
    flex-wrap: wrap;
    justify-content: unset;
  }
  .operate_content-auto {
    width: 100%;
  }

  .operate_item-title {
    width: 100%;
  }
  .auto_value {
    flex-wrap: wrap;
  }

  .auto_value-item label {
    min-width: 100px;
  }
  .setting_input label {
    margin-right: 4px;
    font-size: 18px;
  }
  .setting_container-title {
    font-size: 22px;
  }


  .setting_content-item {
    display: flex;
  }

  /*end mobile auto */

  /* mobile manual  */
  .operate_container {
    margin-top: var(--height);
  }

  .operate_row {
    flex-wrap: wrap;
  }

  .operate_item-status {
    width: 100%;
  }

  .operate_item-content {
    flex-wrap: wrap;
  }

  .btn_submit {
    width: unset;
    margin: 8px 4px;
    padding: 5px;
  }
  /* end mobile manual  */
  .login_body h2 {
    font-size: 32px;
  }
  .home_container {
    /* height: 100%; */
  }

  .item_air-room {
    display: unset;
  }
  .item_data-room {
    flex: 1;
  }
  .item_air-room h2 {
    min-width: 150px;
    display: inline-block;
    text-align: center;
  }

  .chart-item {
    min-height: 300px;
  }
  .item_air-room {
    margin: 8px 0 0 0;
    border-radius: 0;
  }
  .item_air-room + .item_air-room {
    margin: 8px 0 0 0;
  }
  .energy_chart .chart_item {
    min-height: calc(100% / 3 - 8px);
    height: unset;
  }
  .operate_container-title {
    flex-wrap: wrap;
  }
  .item_air-status-block {
    flex-wrap: wrap;
  }
  .block_start_stop {
    height: unset;
    margin-top: 8px;
    justify-content: unset;
    align-items: unset;
  }
  .start_stop-btn-save {
    /* top: -103px; */
    /* position: absolute; */
    /* width: 30%;
    order: unset;
    flex: unset; */
    height: unset;
    display: unset;
    position: unset;
    width: unset;
    margin-right: unset;
    order: unset;
    flex: unset;
  }

  .btt_sua_luu{
    width: unset;
    margin-left: unset;
    top: 145px;
  }

  .start_stop-btn-start{
    width: unset;
  }
  .btn_on, .btn_start,.den_cd{
    margin-left: 0;
  }
  .lable_tem-input {
    font-size: 17px !important;
  }
  /*.air_con {
    display: none;
  }*/
  .air_con.img_mobile_manual{
    display: block;
  }
  .setting_input {
    /* flex: unset;
    justify-content: center; */
    /* margin-top: 8px; */
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 8px;
  }
  .setting_input-block-tem{
    display: flex;
    align-items: center;
    width: 100%;
  }
  .setting_input-block-tem-respon{
    margin-right: 4px;
  }
  .setting_input-block-tem2{
    margin-left: 0 !important;
    display: flex;
    width: 100%;
    margin-top: 3px;
  }
  #nhiet_do_cao{
    margin-left: 10px;
  }
  .setting_input-block-tem-respon2{
    align-items: center;
    display: flex;
    margin-right: 12px;
  }
  .setting_input-block-tem-respon3{
    margin-left: 55px !important;
    order: 2;
  }
  .setting_input-block-tem-respon4{
    min-width: 81px !important;
    max-width: 130px !important;
  }
  .setting_input.tem_res label {
    width: 80%;
  }
  .setting_input.tem_res {
    justify-content: flex-start;
  }
  .block_pesido{
    display: none;
  }
  .home_block-item{
    flex-wrap: wrap;
  }
  .item_air-status{
    flex-direction: column;
  }
  .system_item{
    margin-right: 0;
    margin-top: 8px;
    justify-content: sp;
  }
  .home_block-item .system_item:not(:last-child){
    margin-right:0 ;
  }
  .row_status{
    width: 100%;
  }
  .container_chart{
    width: 100%;
    order: 4;
  }

  #tem{
    min-height: 400px;
    max-height: 400px;
  }

  .item_air-tem{
    flex-wrap: wrap;
  }

  .room_container{
    align-items: flex-start;
  }

  
  /* export  */
  .export_body{
    flex-direction: column;
    height: unset;
  }

  .export_para{
    width: 100%;
    flex: unset;
    max-width: unset;
    margin-bottom: 10px;
  }
  /* end export */
  .baocao-container_select, .baocao-container_error{
    flex-wrap: wrap;
  }
  .baocao-container_select .input_item, .baocao-container_error .input_item {
    margin-left: 0;
  }
  .baocao-container_select .input_item + .input_item,.baocao-container_error .input_item + .input_item {
    margin: 10px 0 ;
  }
  .baocao-container_select .input_item #lb_Search_End{
    margin-left:0px ;
  }
  #lb_Search_Start{
    margin-right: 20px;
  }
  .baocao-container_select .block_btn-export {
    justify-content: space-between;
  }
  #lb_AL_Search_End {
    margin: 0;
  }
  #div_Table_01{
    height: calc(100% - 250px);
  }
}

@media (min-width: 795.5px) and (max-width: 1310px) {
  #lable_tem-input-low,#lable_tem-input-max,#lable_title-time-update{
    margin: 0;
    color: #fff;
    display: inline-block;
    min-width: 120px;
  }
  #top_header{
    position: fixed;
    z-index: 9999;
  }
  .export_container{
    margin-top: 75px;
  }
  .lable_tem-input{
    font-size: 18px !important;
  }
  #lable_title-time-update{
    margin-left: 20px;
  }
  .home_system {
    width: 100%;
    display: flex;
    border-radius: 10px;
    margin: 0;
    flex-wrap: wrap;
    margin-right: 8px;
  }
  .item_air-data label{
    font-size: 18px;
    min-width: 50px;
    margin-right: 5px;
  }
  .system_item {
    width: 50%;
    order: 2;
    margin-right: 0;
  }

  .system_item.system_item-second{
    margin-right: 8px;
    width: calc(50% - 8px);
  }
  

  .system_item.system_item-fisrt{
    margin-bottom: 8px;
  }

  .container_chart{
    order: 3;
    width: 100%;
  }

  .home_chart {
    width: 50%;
    margin: 0;
    border-radius: 0;
    max-height: 100%;
  }
  .header_title {
    display: none;
  }
  .header_container .header_logo {
    width: 25%;
  }
  .item_air-tem h2 {
    font-size: 18px;
    border: none;
    min-width: 243px;
  }

  .setting_item {
    width: 55%;
    margin: 0 8px 8px 8px;
    flex: 1;
    padding: 8px;
  }
  .setting_item:first-child {
    margin-top: 8px;
  }

  .header_menu ul li {
    font-size: 15px;
  }
  #submitBtn {
    width: 31%;
  }
  .login_user label,
  .login_password label {
    min-width: 100px;
    font-size: 20px;
  }
  .home_container {
    max-height: unset;
    flex-wrap: wrap;
    margin-top: 80px;
  }
  .item_air-room {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-top: 0;
  }
  .item_air-room + .item_air-room {
    display: flex;
    align-items: center;
  }
  .item_air-room h2 {
    min-width: 150px;
    display: flex;
    justify-content: center;
    font-size: inherit;
  }
  .item_data-room.item_data-status {
    justify-content: center;
    flex: 1;
  }
  .item_air-tem input,
  .item_air-room input {
    height: 28px;
    width: 50px;
  }
  .item_air-tem {
    margin: 0;
    /* flex-wrap: wrap; */
  }
  .item_air-status {
    display: flex;
    flex-direction: column;
  }
  .item_air-title {
    margin: 0;
    width: 50%;
  }
  .btn_scroll {
    display: block;
  }
  .energy_container {
    margin-top: 75px;
    max-height: calc(100vh - var(--height));
  }
  .block_scroll_num {
    display: flex;
  }

  .start_stop-btn-save {
    /* justify-content: flex-end; */
    /* width: 13%; */
    order: unset;
    /* flex: unset; */
    height: unset;
    display: unset;
    flex: unset;
    width: unset;
    margin:0;
    top: 65px;
    left: 30px;
  }
  .setting_input{
    display: flex;
    margin-left: 10px;
  }
  .setting_input-header{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  .setting_input-block-tem{
    margin-bottom: 8px;
  }
 #lable_tem-input-max{
    /* margin-right: 10px; */
  }
  .start_stop-btn-start{
    height: 100px;
    margin-left: 10px;
  }
  
  .input_item-responsive{
    margin-left: 5px;
  }

  .input_item_btn-responsive{
    margin: 0 7px;
  }

  .setting_input-primary{
    width: 35%;
    justify-content: flex-end;
  }
  .block_start_stop {
    position: sticky;
    top: 75px;
    background-color: var(--color-main);
    z-index: 1;
    /* margin-top: 16px; */
    height: unset;
    padding: 8px;
    display: flex;
    align-items: flex-start;
  }
  .setting_on-responsive{
    text-align: center;
  }
  .setting_off {
    justify-content: center;
    margin-right: -10px;
  }
  .setting_input-mt {
    display: flex;
    flex-direction: inherit;
    flex: 1;
  }
  .export_body{
    flex-wrap: wrap;
  }
  .export_para{
    max-width: 100%;
    margin-bottom: 60px;
  }
  .block_start_stop .setting_input label ,.block_start_stop .setting_input-header lable {
    color: #fff;
  }
  .btt_sua_luu{
    margin-left:0 ;
  }
  .home_block-item{
    flex-wrap: wrap;
  }
  .system_item-air_block:first-child{
    margin-bottom: 8px;
  }

  .row_status{
    width: 50%;
  }
  .home_block-item .system_item{
    margin-right: 8px;
  }
  .den_ml{
    height: 94px;
  }

  #btt_Auto_Save, #btt_Main_Save,#btt_Auto_Edit, #btt_Main_Edit{
    margin-right: 0;
  }
  .btn_on, .btn_start{
    margin-left: 0;
  }
  .system_item-air{
    flex-wrap: wrap;
    display: flex;
  }
  .item_air-status-block{
    width: 47%;
    margin: 0;
  }
  .item_air-title h2{
    display: flex;
    align-items: center;
  }
  .h2_responsive{
    width: 100%;
    padding-top: 2px;
  }
  .manual_body{
    margin-top: 80px;
  }
  .block_pesido{
    width: 24%;
    display: none;
    /* z-index: 1; */
  }
  .operate_row{
    background-color: transparent;
    padding: 0;
    margin-top: 80px;
  }
  .den_cd_n{
    width: 105px;
    height: 105px;
  }

  #tem {
    margin: 8px 8px 8px 8px;
    min-height: 400px;
    max-height: 400px;
}


}

@media (min-width: 1113px) and (max-width: 1615px) {
  .home_container {
    flex-wrap: wrap;
  }
  .home_system {
    width: 100%;
    display: flex;
    border-radius: 0;
    margin: 0;
    flex-wrap: nowrap;
  }
  .home_chart {
    width: 50%;
    margin: 0;
    border-radius: 0;
  }
  .header_title {
    width: 30%;
  }
  .item_air-tem{
    flex-wrap: wrap;
  }
}

@media (min-width: 1790px) {
}

@media (min-width: 890px) and (max-width: 1310px){
  .setting_item{
    flex: unset;
  }
}

@media (min-width: 767.5px) and (max-width: 1310px){
  .setting_content-item h2{
    font-size:23px;
    min-width: 400px;
    padding-left: 95px;
  }
  .export_error{
    height: 200%;
  }
}

@media (max-width:767px) {
  .setting_content-item h2 {
    font-size: 23px;
    min-width: 225px;
  }
  .setting_input-header{
    display: unset;
  }
  #btt_Auto_Save, #btt_Main_Save,#btt_Auto_Edit, #btt_Main_Edit{
    top: 133px;
  }
  #lable_tem-input-low:first-child{
    margin-right: 4px;
  }
  .setting_content-item_btn{
    order: 2;
  }
  #div_table_Alarm{
    max-height:calc(100vh / 2);
    overflow-y: scroll;
    display: flex;
  }
  .btn_export-table-error{
  justify-content: flex-start;

  }
}